<nb-card [nbSpinner]="isLoading" nbSpinnerStatus="primary" nbSpinnerSize="giant">
    <nb-card-header class="default-card-header">
        <h2 class="card-title">Quote Details - {{accountName}}</h2>
    </nb-card-header>

    <nb-card-body>

        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
            <div class="row-container">
                <div class="input-container">
                    <div class="input-sub-container">
                        <label class="label-align">Account Name</label>
                        <div class="input-item">
                            <div *ngIf="!accountName" class="input-item-label placeholder">Account Name</div>
                            <div *ngIf="accountName" class="input-item-label">{{ accountName }}</div>
                        </div>
                    </div>

                    <div class="input-sub-container">
                        <label class="label-align">Created Date</label>
                        <div class="input-item">
                            <input type="input" placeholder="Created Date" [nbDatepicker]="creationDateDatepicker"
                                disabled="true" formControlName="creationDate">
                            <nb-datepicker #creationDateDatepicker [format]="'MM/dd/yyyy'"></nb-datepicker>
                        </div>
                    </div>
                    <div class="input-sub-container">
                        <label class="label-align">Job Status</label>
                        <div class="input-item">
                            <nb-select (click)="onFixDropdDownScroll()"
                                [attr.placeholder-selected]="form.value.jobStatus === ''"
                                (selectedChange)="onJobStatusChange($event)" formControlName="jobStatus" #jobStatus
                                fullWidth scrollStrategy="close">
                                <nb-option class="first-option" value="">Job Status</nb-option>
                                <nb-option *ngFor="let ele of jobStatusDataSource" [value]="ele['value']">{{
                                    ele['description'] }}</nb-option>
                            </nb-select>
                            <div *ngIf="formSubmitted" class="errors">
                                <div class="help-block error" *ngIf="
                                !!form.get('jobStatus').errors &&
                                form.get('jobStatus').errors['requiredWithTrim'] &&
                                form.get('jobStatus').touched
                              ">
                                    Job Status is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="form.value.jobStatus === 'Bidding'" class="input-sub-container">
                        <label class="label-align">Bid Date</label>
                        <div class="input-item">
                            <input [nbDatepicker]="biddingDateDatepicker" type="text" formControlName="biddingDate"
                                (keydown)="dateKeyPress($event)" placeholder="Bid Date">
                            <nb-datepicker #biddingDateDatepicker [format]="'MM/dd/yyyy'"></nb-datepicker>

                            <div *ngIf="formSubmitted" class="errors">
                                <div class="help-block error" *ngIf="
                                form.get('biddingDate').errors != null &&
                                form.get('biddingDate').errors['requiredWithTrim'] &&
                                form.get('biddingDate').touched
                              ">
                                    Bid Date is required
                                </div>
                                <div class="help-block error" *ngIf="
                                form.get('biddingDate').errors != null &&
                                form.get('biddingDate').errors['lessThanToday'] &&
                                form.get('biddingDate').touched
                              ">
                                    Bid Date cannot be less than today
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-sub-container">
                        <label class="label-align">Consultant Name</label>
                        <div class="input-item">
                            <input type="text" maxlength="50" formControlName="consultantName"
                                placeholder="Consultant Name" />
                            <div *ngIf="formSubmitted" class="errors">
                                <div class="help-block error" *ngIf="
                                form.get('consultantName').errors != null &&
                                form.get('consultantName').errors['required'] &&
                                form.get('consultantName').touched
                              ">
                                    Consultant Name is required
                                </div>
                                <div class="help-block error" *ngIf="
                                form.get('consultantName').errors != null &&
                                form.get('consultantName').errors['trimError'] &&
                                form.get('consultantName').touched
                              ">
                                    This field can't start or end with a blank space
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-sub-container">
                        <label class="label-align">Unknown Consultant</label>
                        <div class="input-item check-box" >
                            <nb-checkbox (checkedChange)="onUnknownConsultantChanged($event)" id="unknownConsultant"
                                formControlName="unknownConsultant">
                            </nb-checkbox>
                        </div>
                    </div>
                    <div class="input-sub-container">
                        <label class="label-align">Modernization</label>
                        <div class="input-item check-box">
                            <nb-checkbox id="modernization" formControlName="modernization">
                            </nb-checkbox>
                        </div>
                    </div>
                    <div class="input-sub-container">
                        <label class="label-align">New Construction</label>
                        <div class="input-item check-box">
                            <nb-checkbox id="newConstruction" formControlName="newConstruction">
                            </nb-checkbox>
                        </div>
                    </div>
                </div>
                <div class="input-container">
                    <div class="input-sub-container">
                        <label class="label-align">Job Name</label>
                        <div class="input-item">
                            <input type="text" maxlength="20" formControlName="jobName" placeholder="Job Name">
                            <div *ngIf="formSubmitted" class="errors">
                                <div class="help-block error" *ngIf="
                            form.get('jobName').errors != null &&
                            form.get('jobName').errors['requiredWithTrim'] &&
                            form.get('jobName').touched
                          ">
                                    Job Name is required
                                </div>
                                <div class="help-block error" *ngIf="
                                form.get('jobName').errors != null &&
                                form.get('jobName').errors['trimError'] &&
                                form.get('jobName').touched
                              ">
                                    This field can't start or end with a blank space
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-sub-container">
                        <label class="label-align">Building Type</label>
                        <div class="input-item">
                            <nb-select (click)="onFixDropdDownScroll()"
                                [attr.placeholder-selected]="form.value.buildingType === ''"
                                formControlName="buildingType" #buildingType fullWidth scrollStrategy="close">
                                <nb-option class="first-option" value="">Building Type</nb-option>
                                <nb-option *ngFor="let ele of buildingTypesDataSource" [value]="ele['value']">{{
                                    ele['description'] }}</nb-option>
                            </nb-select>
                            <div *ngIf="formSubmitted" class="errors">
                                <div class="help-block error" *ngIf="
                                form.get('buildingType').errors != null &&
                                form.get('buildingType').errors[
                                  'requiredWithTrim'
                                ] &&
                                form.get('buildingType').touched
                              ">
                                    Building Type is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-sub-container">
                        <label class="label-align">Job Location</label>
                        <div class="input-item">
                            <ngx-job-location-lookup [disableQuotingValidation]="true" fieldLabel="Job Location"
                                formControlName="jobLocation" [countries]="countries"></ngx-job-location-lookup>
                            <div *ngIf="formSubmitted" class="errors">
                                <div class="help-block error" *ngIf="
                                form.get('jobLocation').errors != null &&
                                form.get('jobLocation').errors['required'] &&
                                form.get('jobLocation').touched
                              ">
                                    Job Location is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-sub-container">
                        <label class="label-align">Contact</label>
                        <div class="input-item d-flex">
                            <input readonly="true" type="text" formControlName="contact" placeholder="Contact">
                            <button type="button" tooltip="Search Contact" class="btn btn-primary p-0 pr-2 pl-2 ml-1 search-btn"
                                (click)="onSelectContact()">
                                <i [ngClass]="{'fa fa-search': true}"></i>
                            </button>
                            <div *ngIf="formSubmitted" class="errors">
                                <div class="help-block error" *ngIf="
                            form.get('contact').errors != null &&
                            form.get('contact').errors['requiredWithTrim'] &&
                            form.get('contact').touched
                          ">
                                    Contact is required
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="input-sub-container">
                        <label class="label-align">Email</label>
                        <div class="input-item">
                            <input [readonly]="true" type="email" formControlName="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="input-sub-container">
                        <label class="label-align">Phone</label>
                        <div class="input-item">
                            <input [readonly]="true" type="phone" formControlName="phone" placeholder="Phone">
                        </div>
                    </div>
                </div>
            </div>

            <div class="bottom-actions">
                <button (click)="onCancel()" type="button" class="secondary-button ">
                    Cancel
                </button>
                <div class="margin-8"></div>
                <button type="submit" class="main-button">
                    Create
                </button>
            </div>
        </form>
    </nb-card-body>
</nb-card>