ul {
    list-style: none;
    padding: 0;
}

a {
    // cursor: pointer;
    // color: royalblue !important;
    text-decoration: underline !important;
}

// a, a:hover {
//     color: royalblue !important;
//     text-decoration: underline !important;
// }

.break-word {
    word-break: break-all;
}

a:not([href]):not([tabindex]) {
    text-decoration: underline !important;
    color:var(--primary-color-gray);
    cursor: pointer;
}

a:not([href]):not([tabindex]):hover {
    color:var(--primary-color-gray);
}
