.card-title {
    font-weight: 550;
    color: #0088cc !important;
}

.card-header {
    border-bottom: 1px solid #82bddd !important;
}

label {
    color: #777 !important;
}

div.div-label {
    padding-left: 0px;

    label {
        color: black !important;
    }
}

.form-control-plaintext {
    word-break: break-all;
}

.card-body {
    padding-bottom: 0;
}