<nb-card joyrideStep="quoteFirstStep" stepPosition="center" [title]="runGuidingTour === true ? 'Quotes' : null"
    [stepContent]="firstCustomContent" (done)="onFinishingTour()" [doneTemplate]="doneButton">

    <ng-template #firstCustomContent>
        <div class='joyride-custom-content'>
            <div *ngIf="!canEditQuote" style="margin-bottom: 5px;">
                View details and show history for the list of quotes associated with your account.<br />
            </div>
            <div *ngIf="canEditQuote" style="margin-bottom: 5px;">
                View, update, and show history for the list of quotes associated with your account.<br />
            </div>
            <div>
                <i class="fas fa-eye guiding-tour-action"></i>View Quote Details
            </div>
            <div *ngIf="canEditQuote">
                <i class="fas fa-pencil-alt guiding-tour-action"></i>Update Quote Information
            </div>
            <div>
                <i class="fas fa-history guiding-tour-action"></i>View Activity History
            </div>
            <div>
                <i class="fas fa-file-alt guiding-tour-action view-pricing-action"></i>View Quote
            </div>
        </div>
    </ng-template>

    <ng-template #secondCustomContent>
        <div class='joyride-custom-content'>
            <div style="margin-bottom: 5px;">
                Create a new quote.
            </div>
        </div>
    </ng-template>

    <!-- <nb-card-header class="default-card-header">
        <div class="row">
            <div class="col-md">
                <h2 class="card-title">Quotes</h2>
            </div>
            <div class="col-md text-right">
            </div>
        </div>
    </nb-card-header> -->
    <nb-card-body>

        <ng-template [ngIf]="isSmall === false">
            <div class="row">
                <div class="mb-3 col-12 text-right">
                    <button *ngIf="canEditQuote" (click)="onRequestQuote()" class="btn btn-primary"
                        joyrideStep="quoteSecondStep" stepPosition="left" [prevTemplate]="prevButton"
                        [nextTemplate]="nextButton" [doneTemplate]="doneButton"
                        [title]="runGuidingTour === true ? 'Quotes' : null" [stepContent]="secondCustomContent"
                        (done)="onFinishingTour()">Create A Quote</button>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col d-flex justfiy-content-start align-items-center">
                    <!-- <button (click)="onReset()" class="btn btn-primary">
                        <i class="fas fa-redo-alt"></i>
                        Reset Filters
                    </button> -->
                </div>
                <div class="col-auto d-flex justfiy-content-start align-items-center">
                    <!-- <ngx-smr-records-per-page [recordsNumber]="recordsNumber"
                        (changed)="onRecordsNumberChanged($event)">
                    </ngx-smr-records-per-page> -->
                </div>
            </div>
        </ng-template>

        <ngx-smr-mobile-filters *ngIf="isSmall && showFilters" (close)="toggleFilters()">
            <div filters>
                <div class="filter-control" *ngIf="settings?.columns?.account">
                    <input type="text" maxlength="255" placeholder="Account" class="form-control"
                        [(ngModel)]="account" />
                </div>
                <div class="filter-control">
                    <input type="text" maxlength="255" placeholder="Job Name" class="form-control"
                        [(ngModel)]="jobName" />
                </div>
                <div class="filter-control">
                    <ngx-cp-datepicker memberName="Created Date" displayPlaceholder="Created Date"
                        [(selectedDate)]="creationDate"></ngx-cp-datepicker>
                </div>
                <div class="filter-control d-flex align-items-center">
                    <nb-select [(ngModel)]="jobStatus" class="form-control form-control-select">
                        <nb-option value="">Job Status</nb-option>
                        <nb-option *ngFor="let option of jobStatuses" [value]="option.value">
                            {{ option.description }}
                        </nb-option>
                    </nb-select>
                </div>
                <div class="filter-control d-flex align-items-center">
                    <nb-select [(ngModel)]="status" class="form-control form-control-select">
                        <nb-option value="">Quote Status</nb-option>
                        <nb-option *ngFor="let option of statuses" [value]="option.value">
                            {{ option.description }}
                        </nb-option>
                    </nb-select>
                </div>
                <div class="filter-control">
                    <!-- <ngx-smr-records-per-page [recordsNumber]="recordsNumber"
                        (changed)="onRecordsNumberChanged($event)">
                    </ngx-smr-records-per-page> -->
                </div>
            </div>
            <div actions>
                <button class="btn btn-block btn-primary" (click)="onSearch(); toggleFilters()">
                    <i class="fas fa-search"></i>
                    Search
                </button>
                <!-- <button (click)="onReset(); toggleFilters()" class="btn btn-block btn-primary my-2">
                    <i class="fas fa-redo-alt"></i>
                    Reset Filters
                </button> -->
            </div>
        </ngx-smr-mobile-filters>

        <div class="row" [nbSpinner]="isLoading" nbSpinnerStatus="primary" nbSpinnerSize="giant">
            <div class="col-12 d-flex justify-content-end" *ngIf="isSmall">
                <button *ngIf="canEditQuote" (click)="onRequestQuote()" class="btn btn-primary mr-1"
                    joyrideStep="quoteSecondStep" stepPosition="left" [prevTemplate]="prevButton"
                    [nextTemplate]="nextButton" [doneTemplate]="doneButton"
                    [title]="runGuidingTour === true ? 'Quotes' : null" [stepContent]="secondCustomContent"
                    (done)="onFinishingTour()">Create A Quote</button>
                <button type="button" class="btn btn-primary" (click)="toggleFilters()">
                    <i class="fas fa-filter"></i>
                </button>
            </div>
            <div class="col-sm-12" *ngIf="source">
                <ng2-smart-table class="default-smart-table responsive-design1" #table [settings]="settings"
                    [source]="source">
                </ng2-smart-table>
            </div>
        </div>

    </nb-card-body>
</nb-card>

<ng-template #doneButton>
    <button class="btn btn-primary">
        <i class="clear-icon fas fa-check"></i>
        OK
    </button>
</ng-template>