<div class="page-tab">
    <div class="page-tab-container">
        <div class="page-tab-item active" (click)="goToCreatedByAccount()">Created By Account</div>
        <div class="page-tab-item last" (click)="goToCreatedBySmartriseSales()">Created By Smartrise Sales</div>
    </div>
    <ngx-pager #pager></ngx-pager>
    <div class="avatar-btn-container">
        <div class="avatar-btn">
            <button *ngIf="canEditQuote" (click)="onRequestQuote()" class="btn btn-primary mr-1"
                joyrideStep="quoteSecondStep" stepPosition="left" [prevTemplate]="prevButton"
                [nextTemplate]="nextButton" [doneTemplate]="doneButton"
                [title]="runGuidingTour === true ? 'Quotes' : null" [stepContent]="secondCustomContent"
                (done)="onFinishingTour()" tooltip="Create A Quote">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
</div>
<div class="table-container">
    <nb-card joyrideStep="quoteFirstStep" stepPosition="center" [title]="runGuidingTour === true ? 'Quotes' : null"
        [stepContent]="firstCustomContent" (done)="onFinishingTour()" [doneTemplate]="doneButton">

        <ng-template #firstCustomContent>
            <div class='joyride-custom-content'>
                <div *ngIf="!canEditQuote" style="margin-bottom: 5px;">
                    View details and show history for the list of quotes associated with your account.<br />
                </div>
                <div *ngIf="canEditQuote" style="margin-bottom: 5px;">
                    View, update, and show history for the list of quotes associated with your account.<br />
                </div>
                <div>
                    <i class="fas fa-eye guiding-tour-action"></i>View Quote Details
                </div>
                <div *ngIf="canEditQuote">
                    <i class="fas fa-pencil-alt guiding-tour-action"></i>Update Quote Information
                </div>
                <div>
                    <i class="fas fa-history guiding-tour-action"></i>View Activity History
                </div>
                <div>
                    <i class="fas fa-file-alt guiding-tour-action view-pricing-action"></i>View Quote
                </div>
                <div *ngIf="canEditQuote">
                    <i class="fas fa-clone guiding-tour-action"></i>Clone Quote
                </div>
            </div>
        </ng-template>

        <ng-template #secondCustomContent>
            <div class='joyride-custom-content'>
                <div style="margin-bottom: 5px;">
                    Create a new quote.
                </div>
            </div>
        </ng-template>

        <nb-card-body>

            <ng-template [ngIf]="isSmall === false">

                <div class="row mb-3">
                    <div class="col d-flex justfiy-content-start align-items-center">
                        <!-- <button (click)="onReset()" class="btn btn-primary">
                        <i class="fas fa-redo-alt"></i>
                        Reset Filters
                    </button> -->
                    </div>
                    <div class="col-auto d-flex justfiy-content-start align-items-center">
                        <!-- <ngx-smr-records-per-page [recordsNumber]="recordsNumber"
                        (changed)="onRecordsNumberChanged($event)">
                    </ngx-smr-records-per-page> -->
                    </div>
                </div>
            </ng-template>
            <div class="table-content">
                <ngx-smr-mobile-filters *ngIf="isSmall && showFilters" (close)="toggleFilters()">
                    <div class="form-container" filters>
                        <div class="input-container">
                            <div class="input-item" *ngIf="settings?.columns?.account">
                                <input type="text" maxlength="255" [placeholder]="settings?.columns?.account?.title"
                                    [(ngModel)]="account" />
                            </div>
                            <div class="input-item">
                                <input type="text" maxlength="255" placeholder="Job Name" [(ngModel)]="jobName" />
                            </div>
                            <div class="input-item">
                                <ngx-cp-datepicker memberName="Created Date" displayPlaceholder="Created Date"
                                    [(selectedDate)]="creationDate"></ngx-cp-datepicker>
                            </div>
                            <div class="input-item">
                                <nb-select [(ngModel)]="jobStatus">
                                    <nb-option value="">Job Status</nb-option>
                                    <nb-option *ngFor="let option of jobStatuses" [value]="option.value">
                                        {{ option.description }}
                                    </nb-option>
                                </nb-select>
                            </div>
                            <div class="input-item">
                                <nb-select [(ngModel)]="status">
                                    <nb-option value="">Quote Status</nb-option>
                                    <nb-option *ngFor="let option of statuses" [value]="option.value">
                                        {{ option.description }}
                                    </nb-option>
                                </nb-select>
                            </div>
                            <div class="filter-control">
                                <!-- <ngx-smr-records-per-page [recordsNumber]="recordsNumber"
                        (changed)="onRecordsNumberChanged($event)">
                    </ngx-smr-records-per-page> -->
                            </div>
                        </div>
                    </div>
                    <div actions class="form-action">
                        <button class="main-button" (click)="onSearch(); toggleFilters()">
                            <i class="fas fa-search"></i>
                            Search
                        </button>
                        <!-- <button (click)="onReset(); toggleFilters()" class="btn btn-block btn-primary my-2">
                    <i class="fas fa-redo-alt"></i>
                    Reset Filters
                </button> -->
                    </div>
                </ngx-smr-mobile-filters>
            </div>

            <div class="row" [nbSpinner]="isLoading" nbSpinnerStatus="primary" nbSpinnerSize="giant">
                <div class="col-12 d-flex justify-content-end" *ngIf="isSmall">
                    <button type="button" class="btn btn-primary" (click)="toggleFilters()">
                        <i class="fas fa-filter"></i>
                    </button>
                </div>
                <div class="table-content" *ngIf="source">
                    <ng2-smart-table #table [settings]="settings" [source]="source">
                    </ng2-smart-table>
                </div>
            </div>

        </nb-card-body>
    </nb-card>
</div>

<ng-template #doneButton>
    <button class="main-button">
        <i class="clear-icon fas fa-check"></i>
        OK
    </button>
</ng-template>