<nb-card joyrideStep="smartriseUserFirstStep" stepPosition="center" [title]="runGuidingTour === true ? 'Users' : null"
    [stepContent]="firstCustomContent" (done)="onFinishingTour()" [nextTemplate]="nextButton">

    <nb-card-header class="default-card-header">
        <div class="row">
            <div class="col-md">
                <h2 class="card-title">Smartrise Users</h2>
            </div>
            <div class="col-md">
                <div class="card-actions">
                    <a>
                        <button [disabled]="!canCreateSmartriseUser" (click)="onCreateUser()" class="btn btn-primary"
                            joyrideStep="smartriseUserSecondStep" stepPosition="left" [prevTemplate]="prevButton"
                            [nextTemplate]="nextButton" [doneTemplate]="doneButton"
                            [title]="runGuidingTour === true ? 'Users' : null" [stepContent]="secondCustomContent"
                            (done)="onFinishingTour()">
                            <i class="fas fa-plus-circle"></i>

                            Create User
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <ng-template [ngIf]="isSmall === false">
            <div class="filters-container">
                <div class="row mb-3">
                    <div class="col d-flex align-items-center justify-content-start">
                        <!-- <button (click)="onReset()" class="btn btn-primary">
                            <i class="fas fa-redo-alt"></i>
                            Reset Filters
                        </button> -->
                    </div>
                    <div class="col-auto d-flex align-items-center justify-content-start">
                        <!-- <ngx-smr-records-per-page [recordsNumber]="recordsNumber"
                            (changed)="onRecordsNumberChanged($event)">
                        </ngx-smr-records-per-page> -->
                    </div>
                </div>
            </div>
        </ng-template>
        
        <ngx-smr-mobile-filters *ngIf="isSmall && showFilters" (close)="toggleFilters()">
            <div filters>
                <div class="filter-control">
                    <input type="text" maxlength="255" placeholder="First Name" class="form-control"
                        [(ngModel)]="firstName" />
                </div>
                <div class="filter-control">
                    <input type="text" maxlength="255" placeholder="Last Name" class="form-control"
                        [(ngModel)]="lastName" />
                </div>
                <div class="filter-control">
                    <input type="email" maxlength="255" placeholder="Email" class="form-control" [(ngModel)]="email" />
                </div>
                <div class="filter-control">
                    <!-- <ngx-smr-records-per-page [recordsNumber]="recordsNumber" (changed)="onRecordsNumberChanged($event)">
                    </ngx-smr-records-per-page> -->
                </div>
            </div>
            <div actions>
                <button class="btn btn-block btn-primary" (click)="onSearch(); toggleFilters()">
                    <i class="fas fa-search"></i>
                    Search
                </button>
                <!-- <button (click)="onReset(); toggleFilters()" class="btn btn-block btn-primary my-2">
                    <i class="fas fa-redo-alt"></i>
                    Reset Filters
                </button> -->
            </div>
        </ngx-smr-mobile-filters>

        <div class="row" [nbSpinner]="isLoading" nbSpinnerStatus="primary" nbSpinnerSize="giant">
            <div class="col-12 d-flex justify-content-end" *ngIf="isSmall">
                <button type="button" class="btn btn-primary" (click)="toggleFilters()">
                    <i class="fas fa-filter"></i>
                </button>
            </div>
            <div class="col-sm-12" *ngIf="source">
                <ng2-smart-table class="default-smart-table responsive-design1" #table [settings]="settings"
                    [source]="source">
                </ng2-smart-table>
            </div>
        </div>
    </nb-card-body>
</nb-card>

<ng-template #firstCustomContent>
    <div class='joyride-custom-content'>
        <div style="margin-bottom: 5px;">
            Manage Smartrise users.
        </div>
        <div>
            <i class="fas fa-pencil-alt guiding-tour-action"></i>Update User Information
        </div>
        <div>
            <i class="fas fa-share guiding-tour-action"></i>Resend Invitation
        </div>
        <div>
            <i class="fas fa-recycle guiding-tour-action"></i>Send Password Reset Request
        </div>
        <div>
            <i class="fas fa-user-minus guiding-tour-action"></i>Reactivate User
        </div>
        <div>
            <i class="fas fa-user-check guiding-tour-action"></i>Deactivate User
        </div>
    </div>
</ng-template>

<ng-template #secondCustomContent>
    <div class='joyride-custom-content'>
        <div style="margin-bottom: 5px;">
            Create a new user.
        </div>
    </div>
</ng-template>

<ng-template #prevButton>
    <button class="btn btn-primary">
        <i class="fas fa-step-backward"></i>
        Prev
    </button>
</ng-template>
<ng-template #nextButton>
    <button class="btn btn-primary">
        Next
        <i class="fas fa-step-forward"></i>
    </button>
</ng-template>
<ng-template #doneButton>
    <button class="btn btn-primary">
        <i class="clear-icon fas fa-check"></i>
        OK
    </button>
</ng-template>