<nb-card class="card">
    <nb-card-header class="default-card-header">
        <div class="card-titile-with-icon">
            <div class="card-title">Alerts Per Part Type</div>
            <div class="avatar-btn-container">
                <div class="avatar-btn">
                    <button (click)="onViewAllMyParts()" class="main-button" tooltip=" View All My Parts">
                        <i class="fa fa-eye"></i>
                    </button>
                </div>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div echarts [options]="options" class="echart"></div>
    </nb-card-body>
</nb-card>