.form-group:last-of-type,
.form-group:last-child {
    margin-bottom: 1rem;
}

.message {
    width: 82%;
    float: right;
}

label {
    color: #777;
    font-size: 0.9375rem;
}

.form-control-plaintext {
    font-size: 0.9375rem;
}

.invoice-status {
    margin-right: 3px;
    text-align: end;
    margin-bottom: 3px;
}
