<!-- <div class="page-header-container">
    <div class="page-header-title">
        <span (click)="onClose()" class="cursor">Invoices</span> / {{  invoice?.invoiceNumber | value }}
    </div>
</div>
<div class="margin-16"></div> -->
<!-- <div class="invoice-status">
    <ngx-aged-cell [rowData]="invoice" withSattled="true" isPillStyle="true"></ngx-aged-cell>
</div> -->
<nb-card size="xlarge">
  <nb-card-body nbSpinnerStatus="primary" nbSpinnerSize="giant">
    <div class="card-details">
      <div class="card-details-container">

        <div class="displayData" *ngIf="displayAccountName">
          <label class="label">{{accountTitle}}</label>
          <div *ngIf="isSmartrise" class="content">{{ invoice?.customer | value }}</div>
          <div *ngIf="!isSmartrise" class="content">{{ invoice?.primaryCustomer | value }}</div>
        </div>

        <div *ngIf="isSmartrise" class="displayData">
          <label class="label">Installation By</label>
          <div class="content">{{ invoice?.installedBy | value }}</div>
        </div>

        <div *ngIf="isSmartrise" class="displayData">
          <label class="label">Currently Maintained By</label>
          <div class="content">{{ invoice?.maintainedBy | value }}</div>
        </div>

        <div class="displayData" *ngIf="!isSmartriseUser">
          <label class="label">Job Number</label>
          <div class="content">{{ invoice?.jobNumber | value }}</div>
        </div>
        <div class="displayData" *ngIf="!isSmartriseUser">
          <div class="label">Job Name</div>
          <div class="content" id="last4" value="">{{ invoice?.jobName | value }}</div>
        </div>

        <div class="displayData" *ngIf="isSmartriseUser">
          <div class="label">Job Number</div>
          <div class="content">{{ invoice?.jobNumber | value }}</div>
        </div>

        <div class="displayData" *ngIf="isSmartriseUser">
          <div class="label">Job Name</div>
          <div class="content">{{ invoice?.jobName | value }}</div>
        </div>
        <div class="displayData">
          <div class="label">Invoice Number</div>
          <div class="content">{{ invoice?.invoiceNumber | value}}</div>
        </div>
        <div class="displayData">
          <div class="label">PO Number</div>
          <div class="content">{{ invoice?.poNumbers | value }}</div>
        </div>
        <div class="displayData" *ngIf="!isSmartriseUser">
          <div class="label">Invoice Date</div>
          <div class="content">{{ invoice?.invoiceDate | usdate | value }}</div>
        </div>
        <div class="displayData" *ngIf="isSmartriseUser">
          <div class="label">Invoice Date</div>
          <div class="content">{{ invoice?.invoiceDate | usdate | value}}</div>
        </div>
      </div>

      <div class="card-details-container">
        <div class="displayData" *ngIf="isSmartriseUser">
          <div class="label">Invoice Date</div>
          <div class="content"> {{ invoice?.invoiceDate | usdate | value }}</div>
        </div>
        <div class="displayData">
          <div class="label">Due Date</div>
          <div class="content">{{ invoice?.dueDate | usdate | value }}</div>
        </div>

        <div class="displayData">
          <div class="label">Payment Date</div>
          <div class="content">{{ invoice?.paymentDate | usdate | value }}</div>
        </div>

        <div class="displayData">
          <div class="label">Amount</div>
          <div class="content">{{ invoice?.amount | number: '1.2-2' }}</div>
        </div>

        <div class="displayData">
          <div class="label">Balance</div>
          <div class="content">{{ invoice?.balance | number: '1.2-2' }}</div>
          <div *ngIf="invoice?.paymentMessage">
            <div class="alert alert-danger message mt-3">
              {{ invoice?.paymentMessage }}
            </div>
          </div>
        </div>

      </div>

    </div>

  </nb-card-body>
</nb-card>