<div class="popup-container">
    <div class="popup-title">
        Add Bank Account
    </div>

    <div class="popup-content-section">
        <div class="card-body pt-0 pb-0">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 select-method-title pl-0 mb-3">Select Bank Verification Method:</div>
                    </div>
                    <div class="row">
                        <div class="col-12 p-0 d-flex">
                            <div class="section mr-1">
                                <div class="section-title">
                                    Instant Verification
                                </div>
                                <p class="section-description">
                                    Instantly verify your account using your online banking credentials.
                                </p>
                                <div class="section-action text-right">
                                    <ngx-button [isLoading]="isLoading" type="button" (click)="onConnect()"
                                        class="main-button">Connect
                                        Bank</ngx-button>
                                </div>
                            </div>
                            <div class="section ml-1">
                                <div class="section-title">
                                    Manual Verification
                                </div>
                                <p class="section-description">
                                    Verify your account manually by entering your routing and account number.
                                </p>
                                <p class="manual-section-note">
                                    *Note: This process can take up to 3 business days
                                </p>
                                <div class="section-action text-right">
                                    <ngx-button [disabled]="isLoading" type="button" (click)="onManual()"
                                        class="main-button">Add
                                        Manually</ngx-button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 pl-0 pt-2">
                            <div class="bottom-note">
                                Credentials are sent directly to your bank and are never stored.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="popup-footer">
        <button type="button" class="secondary-button" (click)="onCancel()">
            Cancel
        </button>
    </div>
</div>