<div class="page-header-container">
  <div class="page-header-title" *ngIf="user">
      <span (click)="onClose()" class="cursor">Account Users</span> / {{ user.firstName }} {{ user.lastName }}
  </div>
</div>

<form [formGroup]="customerUserForm" (ngSubmit)="onSubmit()" *ngIf="isFormReady" class="form-container">
  <nb-card>
    <nb-card-header class="default-card-header">
      <h2 class="card-title">User Information</h2>
    </nb-card-header>
    <nb-card-body>

      <div class="row-container">

        <div class="input-container">

          <div class="input-sub-container">
            <label class="label-align">First Name</label>
            <div class="input-item">
              <div class="input-item-label">
                {{ customerUser.firstName }}
              </div>
            </div>
          </div>

          <div class="input-sub-container">
            <label class="label-align">Last Name</label>
            <div class="input-item">
              <div class="input-item-label">
                {{ customerUser.lastName }}
              </div>
            </div>
          </div>

          <div class="input-sub-container">
            <label class="label-align">Email</label>
            <div class="input-item">
              <div class="input-item-label">{{ customerUser.email }}</div>
            </div>
          </div>
          <div style="width:100%">
            <ngx-account-roles-selection #accounts [roles]="roles" formControlName="accounts"
              [allowAccountsSelection]="true" [allowRemoveAccount]="false"></ngx-account-roles-selection>
          </div>

        </div>
      </div>
    </nb-card-body>
  </nb-card>
  <div class="form-buttons">
    <ngx-button routerLink=".." type="button" class="secondary-button">
      Cancel
    </ngx-button>
    <ngx-button [isLoading]="isSaving" type="submit" class="main-button">
      Update
    </ngx-button>
  </div>
</form>