<div *ngIf="!isBusy" class="d-flex justfiy-content-center align-items-center input-container">


    <input [id]="id" [placeholder]="fieldLabel" 
        (paste)="processInput($event)" 
        (focus)="onFocus($event)"
        (keypress)="onKeypress($event)" 
        (keyup)="onKeyUp($event)" 
        [(ngModel)]="item[valueField]" 
        [type]="type" 
        [disabled]="disabled" 
        [readonly]="readonly" 
        [trimError]="!allowSpace" 
        [email]="email" 
        [maxlength]="length"
        [ngClass]="{'quote-input form-control': true, 'error': hasErrors, 'blink': blink}" 
        #field="ngModel"
        #i min="0" 
        />
    <label class="checkbox-label" *ngIf="type === 'checkbox'" [for]="id">{{ fieldLabel }}</label>
    <ng-template [ngTemplateOutlet]="suffixComponent"></ng-template>
    <nb-toggle [(ngModel)]="item[assumeField]" tooltip="Assume Value" *ngIf="showAssume"
        (checkedChange)="onAssumeChange($event)">
    </nb-toggle>
    <i class="privileges-icon fas fa-info-circle" *ngIf="infoText" [tooltip]="infoText"
        (click)="onInfoClick($event)"></i>
</div>

<div *ngIf="isBusy" class="d-flex justify-content-between align-items-center input-container position-relative is-busy-container">
    <div class="is-busy-label">{{busyMessage}}</div>
    <div class="is-busy" [nbSpinner]="true" nbSpinnerStatus="primary" nbSpinnerSize="large"></div>
</div>

<div *ngIf="isInlineErrors">
    <div *ngIf="field.invalid && showErrors">

        <div class="error" *ngIf="field?.errors && field?.errors['requiredWithTrim']">
            {{requiredMessage}}
        </div>

        <div class="error" *ngIf="field?.errors && field?.errors['trimError']">
            {{trimErrorMessage}}
        </div>
    </div>
    <div *ngIf="(errors && errors.length > 0)">
        <div class="error" *ngFor="let error of errors">
            {{ error }}
        </div>
    </div>
</div>