.bank-account-status-active {
    background-color: green;
}

.bank-account-status-awaiting-verification {
    background-color: #ffc107;
}

.bank-account-status-transfer-failed {
    background-color: red;
}
