<div class="page-header-container">
  <div class="page-header-title">Jobs & Tracking</div>
  <div class="form-container" style="width: 25%;" *ngIf="!isSmall">
    <div class="input-container">
      <div class="input-item search-input-icon">
        <i class="fa fa-search"></i>
        <input type="text" placeholder="Search">
      </div>
    </div>
  </div>
  <div *ngIf="isSmall">
    <button class="main-button" type="button" (click)="toggleFilters()">
      <i class="fas fa-filter"></i>
    </button>
  </div>
</div>
<div class="page-tab">
  <div class="page-tab-container">
    <div class="page-tab-item" (click)="goToJobs()">Jobs</div>
    <div class="page-tab-item active" (click)="goToShipments()">Shipments</div>
    <div class="page-tab-item last" (click)="goToJobsFile()">Job files</div>
  </div>
  <div class="pagination-info">
    <div class="pagination-btn" (click)="onPagePrev()"> &lt; </div>
    {{ (source.getPaging().page - 1) * settings.pager.perPage + 1 }}
    -
    {{
    Math.min(
    source.count(),
    (source.getPaging().page - 1) * settings.pager.perPage +
    settings.pager.perPage
    )
    }}
    of {{ source.count() }}

    <div class="pagination-btn" (click)="onPageNext()"> &gt;</div>
  </div>
</div>
<div class="table-container">
  <nb-card joyrideStep="shipmentFirstStep" stepPosition="center" [title]="runGuidingTour === true ? 'Shipments' : null"
    [doneTemplate]="doneButton" [stepContent]="firstCustomContent" (done)="onFinishingTour()">

    <ng-template #firstCustomContent>
      <div class='joyride-custom-content'>
        <div style="margin-bottom: 5px;">
          View and track shipments.
        </div>
        <div>
          <i class="fas fa-eye guiding-tour-action"></i>View Shipment Details
        </div>
      </div>
    </ng-template>

    <!-- <nb-card-header class="default-card-header">
      <h2 class="card-title">Shipments</h2>
    </nb-card-header> -->

    <nb-card-body>
      <ng-template [ngIf]="isSmall === false">
        <div class="table-header">
          <div>
            <!-- <button (click)="onReset()" class="main-button">
              <i class="fas fa-redo-alt"></i>
              Reset Filters
            </button> -->
          </div>
          <div>
            <!-- <button (click)="onReset()" class="main-button">
              <i class="fas fa-redo-alt"></i>
              Reset Filters
            </button> -->
          </div>
          <!-- <div class="table-record">
            <ngx-smr-records-per-page [recordsNumber]="recordsNumber" (changed)="onRecordsNumberChanged($event)">
            </ngx-smr-records-per-page>
          </div> -->
        </div>
      </ng-template>
      <div class="table-content">
        <ngx-smr-mobile-filters *ngIf="isSmall && showFilters" (close)="toggleFilters()">
          <div class="form-container" filters>
            <div class="input-container">
              <div *ngIf="settings?.columns?.customerName" class="input-item">
                <input type="text" maxlength="255" placeholder="Account" [(ngModel)]="customerName" />
              </div>
              <div class="input-item">
                <input type="text" maxlength="255" placeholder="Job Name" [(ngModel)]="jobName" />
              </div>
              <div class="input-item">
                <input type="text" maxlength="255" placeholder="Job Number" [(ngModel)]="jobNumber" />
              </div>
              <div class="input-item">
                <nb-select [(ngModel)]="shipmentType">
                  <nb-option value="">Package</nb-option>
                  <nb-option *ngFor="let c of shipmentTypes" [value]="c.value">
                    {{ c.description }}
                  </nb-option>
                </nb-select>
              </div>
              <div class="input-item">
                <input type="text" maxlength="255" placeholder="Tracking Number" [(ngModel)]="trackingNumber" />
              </div>
              <div class="input-item">
                <nb-select [(ngModel)]="isDropShipment">
                  <nb-option value="">Drop Shipment</nb-option>
                  <nb-option *ngFor="let option of yesNoList" [value]="option.value">
                    {{ option.title }}
                  </nb-option>
                </nb-select>
                <!-- <ngx-cp-checkbox class="ml-2" [(checkStatus)]="isDropShipment"></ngx-cp-checkbox> -->
              </div>
              <div class="input-item">
                <ngx-cp-datepicker memberName="Ship Date" displayPlaceholder="Ship Date"
                  [(selectedDate)]="shipDate"></ngx-cp-datepicker>
              </div>
              <!-- <div class="filter-control">
          <ngx-cp-datepicker class="form-group" memberName="Delivery Date" displayPlaceholder="Delivery Date/Time"
            [(selectedDate)]="deliveryDate"></ngx-cp-datepicker>
        </div> -->
              <div class="input-item">
                <nb-select [(ngModel)]="status">
                  <nb-option value="">Status</nb-option>
                  <nb-option *ngFor="let c of statuses" [value]="c.value">
                    {{ c.description }}
                  </nb-option>
                </nb-select>
              </div>
              <div class="w-100">
                <!-- <ngx-smr-records-per-page [recordsNumber]="recordsNumber" (changed)="onRecordsNumberChanged($event)">
                </ngx-smr-records-per-page> -->
              </div>
            </div>
          </div>
          <div actions class="form-action">
            <button class="main-button" (click)="onSearch();toggleFilters()">
              <i class="fas fa-search"></i>
              Search
            </button>
            <!-- <button (click)="onReset(); toggleFilters()" class="main-button" >
              <i class="fas fa-redo-alt"></i>
              Reset Filters
            </button> -->
          </div>
        </ngx-smr-mobile-filters>
      </div>

      <div [nbSpinner]="isLoading" nbSpinnerStatus="primary" nbSpinnerSize="giant">

        <div class="table-content" *ngIf="source">
          <ng2-smart-table #table [settings]="settings" [source]="source">
          </ng2-smart-table>
        </div>
      </div>
    </nb-card-body>

  </nb-card>
</div>

<ng-template #doneButton>
  <button class="btn btn-primary">
    <i class="clear-icon fas fa-check"></i>
    OK
  </button>
</ng-template>