<!-- <ng2-smart-table [source]="accountsSource" [settings]="accountsSettings">

</ng2-smart-table> -->

<div class="card-container-role">
    <div class="card-role" *ngFor="let account of accounts" style="margin-top: 16px;">
        <div class="card-content-role">
            <nb-list class="account-name" style="padding-left: 8px;">
                {{account.name}}
            </nb-list>
            <div>
                <hr>
            </div>
            <div>
                <div *ngFor="let role of roles" style="padding-left: 8px;">
                    <nb-checkbox [disabled]="!account.isSelected && allowAccountsSelection"
                        [checked]="isRoleSelected(account, role)"
                        (checkedChange)="roleChecked($event, account, role)">{{role.displayName}}</nb-checkbox>
                    <i class="privileges-icon ml-2 fas fa-info-circle" (click)="showPrivileges(role)"
                        tooltip="Show Role Privileges"></i>
                </div>
            </div>

            <div class="mt-3 text-center">
                <button *ngIf="allowRemoveAccount" type="button" class="danger-button"
                    (click)="onRemove(account)">Remove</button>
                <div *ngIf="allowAccountsSelection" class="d-flex ml-2  mt-1" >
                    <nb-toggle [ngModel]="account.isSelected" (checkedChange)="onSelectUnSelect($event, account)"
                        class="px-2 px-md-0" style="width: 60px;">
                    </nb-toggle>
                    <label class="ml-2">Grant Access</label>
                </div>
            </div>
        </div>
    </div>
</div>