<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">

    <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
    </div>
    <ng-template [ngIf]="!succuessMessage">

        <div class="controls mb-4">
            <div class="form-group">
                <ngx-smr-password-input maxlength="255" id="currentPassword" formControlName="currentPassword" placeholder="Current Password">
                </ngx-smr-password-input>
                <div class="help-block error" *ngIf="formSubmitted &&
            changePasswordForm.get('currentPassword').errors != null &&
            changePasswordForm.get('currentPassword').errors['required'] &&
            changePasswordForm.get('currentPassword').touched
          ">
                    Current Password is required
                </div>
            </div>
            <div class="form-group">
                <ngx-smr-password-input maxlength="255" id="password" formControlName="password" placeholder="New Password" [showValidations]="formSubmitted">
                </ngx-smr-password-input>
                <div class="help-block error" *ngIf="formSubmitted &&
            changePasswordForm.get('password').errors != null &&
            changePasswordForm.get('password').errors['required'] &&
            changePasswordForm.get('password').touched

          ">
                    New Password is required
                </div>
            </div>
            <div class="form-group">
                <ngx-smr-password-input maxlength="255" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirm Password">
                </ngx-smr-password-input>
                <div class="help-block error" *ngIf="formSubmitted &&
            changePasswordForm.get('confirmPassword').errors != null &&
            changePasswordForm.get('confirmPassword').errors['required'] &&
            changePasswordForm.get('confirmPassword').touched

          ">
                    Confirm Password is required
                </div>
                <div class="help-block error" *ngIf="formSubmitted &&
            changePasswordForm.get('confirmPassword').errors != null &&
            changePasswordForm.get('confirmPassword').errors['mismatchingPasswords'] && 
            changePasswordForm.get('confirmPassword').touched
          ">
                    Passwords are mismatching
                </div>
            </div>
        </div>

        <div class="actions mt-4 text-right">
            <button class="btn btn-secondary mr-2" (click)="back()" type="button">
                <i class="fas fa-times"></i>
                Cancel
            </button>

            <ngx-button [isLoading]="isLoading" class="btn btn-primary" type="submit">
                <i class="fa fa-save"></i>
                Change Password
            </ngx-button>
        </div>

    </ng-template>
    <ng-template [ngIf]="succuessMessage">
        <div class="alert alert-success font-weight-bold">
            {{ succuessMessage }}
        </div>
        <div class="text-right">
            <button class="btn btn-primary" (click)="back()">
    <i class="fas fa-chevron-left"></i>                        
    Back to Dashboard
            </button>
        </div>
    </ng-template>
</form>