<div class="page-tab">
    <div class="page-tab-container">
        <div class="page-tab-item" (click)="goToCreatedByAccount()">Created By Account</div>
        <div class="page-tab-item last active" (click)="goToCreatedBySmartriseSales()">Created By Smartrise Sales</div>
    </div>
    <ngx-pager #pager></ngx-pager>
</div>
<div class="table-container">
    <nb-card joyrideStep="openQuoteFirstStep" stepPosition="center"
        [title]="runGuidingTour === true ? 'Open Quotes' : null" [stepContent]="firstCustomContent"
        (done)="onFinishingTour()" [doneTemplate]="doneButton">

        <ng-template #firstCustomContent>
            <div class='joyride-custom-content'>
                <div style="margin-bottom: 5px;">
                    View a list of open quotes associated with your account.<br />
                </div>
                <div>
                    <i class="fas fa-eye guiding-tour-action"></i>View Open Quote Details
                </div>
            </div>
        </ng-template>
        <nb-card-body>

            <ng-template [ngIf]="isSmall === false">

                <div class="row mb-3">
                    <div class="col d-flex justfiy-content-start align-items-center">
                        <!-- <button (click)="onReset()" class="btn btn-primary">
                        <i class="fas fa-redo-alt"></i>
                        Reset Filters
                    </button> -->
                    </div>
                    <div class="col-auto d-flex justfiy-content-start align-items-center">
                        <!-- <ngx-smr-records-per-page [recordsNumber]="recordsNumber"
                        (changed)="onRecordsNumberChanged($event)">
                    </ngx-smr-records-per-page> -->
                    </div>
                </div>
            </ng-template>
            <div class="table-content">
                <ngx-smr-mobile-filters *ngIf="isSmall && showFilters" (close)="toggleFilters()">
                    <div class="form-container" filters>
                        <div class="input-container">
                            <div class="input-item" *ngIf="settings?.columns?.account">
                                <input type="text" maxlength="255" [placeholder]="settings?.columns?.account?.title"
                                    [(ngModel)]="account" />
                            </div>
                            <div class="input-item">
                                <input type="text" maxlength="255" placeholder="Job Name" [(ngModel)]="jobName" />
                            </div>
                            <div class="input-item">
                                <input type="text" maxlength="255" placeholder="Quote Number"
                                    (keypress)="onKeyPress($event)" [(ngModel)]="quoteNumber" />
                            </div>
                            <div class="input-item">
                                <input type="number" (keypress)="preventNonNumericalInput($event)" min="1"
                                    maxlength="10" placeholder="Cars" [(ngModel)]="numberOfCars" />
                            </div>
                            <div class="input-item">
                                <input type="text" maxlength="255" placeholder="Controller Type"
                                    [(ngModel)]="controllerType" />
                            </div>
                            <div class="input-item">
                                <input type="number" min="0" (keypress)="preventNonNumericalInput($event)"
                                    maxlength="10" placeholder="Amount" [(ngModel)]="amount" />
                            </div>
                            <div class="input-item">
                                <input type="text" maxlength="255" placeholder="Created By" [(ngModel)]="createdBy" />
                            </div>
                            <div class="input-item">
                                <ngx-cp-datepicker memberName="Created Date" displayPlaceholder="Created Date"
                                    [(selectedDate)]="quoteCreated"></ngx-cp-datepicker>
                            </div>
                            <div class="input-item">
                                <input type="text" maxlength="255" placeholder="Contact" [(ngModel)]="contact" />
                            </div>
                            <div class="input-item">
                                <!-- <ngx-smr-records-per-page [recordsNumber]="recordsNumber"
                        (changed)="onRecordsNumberChanged($event)">
                    </ngx-smr-records-per-page> -->
                            </div>
                        </div>
                    </div>
                    <div actions class="form-action">
                        <button class="main-button" (click)="onSearch(); toggleFilters()">
                            <i class="fas fa-search"></i>
                            Search
                        </button>
                        <!-- <button (click)="onReset(); toggleFilters()" class="btn btn-block btn-primary my-2">
                    <i class="fas fa-redo-alt"></i>
                    Reset Filters
                </button> -->
                    </div>
                </ngx-smr-mobile-filters>
            </div>

            <div class="row" [nbSpinner]="isLoading" nbSpinnerStatus="primary" nbSpinnerSize="giant">
                <div class="col-12 d-flex justify-content-end" *ngIf="isSmall">
                    <button type="button" class="btn btn-primary" (click)="toggleFilters()">
                        <i class="fas fa-filter"></i>
                    </button>
                </div>
                <div class="table-content" *ngIf="source">
                    <ng2-smart-table #table [settings]="settings" [source]="source">
                    </ng2-smart-table>
                </div>
            </div>

        </nb-card-body>
    </nb-card>
</div>

<ng-template #doneButton>
    <button class="main-button">
        <i class="clear-icon fas fa-check"></i>
        OK
    </button>
</ng-template>