<nb-card class="in-dialog">

    <nb-card-header class="default-card-header d-flex align-items-center justify-content-between">
        <h2 class="card-title">Alerts</h2>
        <button type="button" class="close ml-5" aria-label="Close" tooltip="Close" (click)="onCancel()"
            style="outline: none">
            <i class="fas fa-times text-sm"></i>
        </button>
    </nb-card-header>
    <nb-card-body>
        <div class="row card-body">
            <ul>
                <li>Alert 1</li>
                <li>Alert 2</li>
                <li>Alert 3</li>
                <li>Alert 4</li>
            </ul>
        </div>
    </nb-card-body>
</nb-card>