.error {
    color: red;
}

.card-title {
    font-weight: 550;
    color: #0088cc !important;
}

.card-header {
    border-bottom: 1px solid #82bddd !important;
}

label {
    color: #777;
}

.select {
    display: contents;
}

:host {
    display: flex;
}

nb-card {
    flex: 1 1 45%;
    margin: 0;
}

.form-group:last-of-type, .form-group:last-child {
    margin-bottom: 1rem;
}