<nb-card size="xlarge" *ngIf="hasStripePayments || hasPaypalPayments" class="table-container">
    <nb-card-body nbSpinnerStatus="primary" nbSpinnerSize="giant">
        <div class="card-body">
            <div class="table-content" *ngIf="hasPaypalPayments">
                <ng2-smart-table  #table [settings]="paypalSettings"
                [source]="paypalSource">
            </ng2-smart-table>
            </div>

            <div *ngIf="hasStripePayments" class="row">
                <div class="table-content">
                    <ng2-smart-table  #table [settings]="stripeSettings"
                        [source]="stripeSource">
                    </ng2-smart-table>
                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>
<div class="nodatafound" *ngIf="!hasStripePayments && !hasPaypalPayments">
    <nb-card>
        <nb-card-body>
            No data found
        </nb-card-body>
    </nb-card>
</div>