<div class="card-body">
    <div class="row mb-4" *ngIf="hasPaypalPayments">
        <div class="col-12 pr-0 pl-0">
            <ng2-smart-table class="default-smart-table responsive-design1" #table [settings]="paypalSettings"
                [source]="paypalSource">
            </ng2-smart-table>
        </div>
    </div>

    <div *ngIf="hasStripePayments" class="row">
        <div class="col-12 pr-0 pl-0">
            <ng2-smart-table class="default-smart-table responsive-design1" #table [settings]="stripeSettings"
                [source]="stripeSource">
            </ng2-smart-table>
        </div>
    </div>
    <div class="no-data-found" *ngIf="!hasStripePayments && !hasPaypalPayments">
        No data found
    </div>
</div>