<div class="popup-container"  [nbSpinner]="isLoading" nbSpinnerStatus="primary" nbSpinnerSize="giant">
    <div class="popup-title">
        Quote for {{quoteName}}
    </div>

    <div class="popup-content-section">
        <div class="row modal-body pb-0 pt-0">
            <div class="pr-0 pl-0 table-container col-lg-12" *ngIf="source">
                <ng2-smart-table class="default-smart-table responsive-design1" [settings]="settings" [source]="source">
                </ng2-smart-table>
            </div>
            <div *ngIf="isLoading" [ngStyle]="{'height': '200px'}"></div>
            <div *ngIf="!isLoading" class="mt-2 pt-1 pb-1 col-lg-12 totals">
                <div class="row mb-1">
                    <div class="col-12 col-lg-10 form-group text-left text-lg-right pr-0 pl-0">
                        <label class="col-lg-12 control-label pt-2 pr-1">Total Price</label>
                    </div>
                    <div class="col-12 col-lg-2 form-group form-control-plaintext">
                        ${{ totalPrice | numberValue:'0' | number: '1.2-2'}}
                    </div>
                </div>
                <!-- <div class="row mb-1">
                    <div class="col-12 col-lg-10 form-group text-left text-lg-right pr-0 pl-0">
                        <label class="col-lg-12 control-label pt-2 pr-1">Shipping and Handling</label>
                    </div>
                    <div class="col-12 col-lg-2 form-group form-control-plaintext">
                        ${{ shippingHandling | numberValue:'0' | number: '1.2-2'}}
                    </div>
                </div> -->
                <div class="row mb-1">
                    <div class="col-12 col-lg-10 form-group text-left text-lg-right pr-0 pl-0">
                        <label class="col-lg-12 control-label pt-2 pr-1">Grand Total</label>
                    </div>
                    <div class="col-12 col-lg-2 form-group form-control-plaintext">
                        ${{ grandTotal | numberValue:'0' | number: '1.2-2' }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="popup-footer">
        <button (click)="onCancel()" type="button" class="secondary-button">
            Close
        </button>
        <!-- <div class="margin-8"></div> -->
        <button (click)="onDownload()" [disabled]="isDownloading" type="button" class="main-button">
            Download
        </button>
    </div>
</div>
