<div class="bottom-actions">
    <ngx-button class="secondary-button ml-md-1" type="button" (click)="onCancel()">
        Close
    </ngx-button>
    <ngx-button *ngIf="status === 'Generated'" [disabled]="isProcessing" class="main-button ml-md-1" type="button"
        (click)="onViewPricing()">
        View Quote
    </ngx-button>
    <ngx-button [isLoading]="isSaving" [disabled]="isProcessing" class="main-button ml-md-1" type="button"
        (click)="onSaveQuote()">
        Save
    </ngx-button>
    <ngx-button [isLoading]="isGenerating" [disabled]="isProcessing" class="main-button ml-md-1" type="button"
        (click)="onGenerateQuote()">
        Generate Quote
    </ngx-button>
</div>