<div class="table-container">
    <div class="page-header-container">
        <div class="page-header-title">My Alerts</div>
    </div>
    <nb-card>
        <nb-card-body>

            <div class="row">

                <div *ngIf="jobData" class="col-4 col-lg-2 form-group">
                    <label class="control-label mt-2">Job Name:</label>
                </div>

                <div *ngIf="jobData" class="col-8 col-lg-4 form-group form-control-plaintext">
                    {{ jobData.jobName }}
                </div>

                <div *ngIf="jobData" class="col-lg-6"></div>

                <div *ngIf="jobData" class="col-4 col-lg-2 form-group">
                    <label class="control-label mt-2">Job Number:</label>
                </div>

                <div *ngIf="jobData" class="col-8 col-lg-4 form-group form-control-plaintext">
                    {{ jobData.jobNumber }}
                </div>
                <div *ngIf="jobData" class="col-lg-6"></div>

            </div>
            <div class="table-content">
                <ng2-smart-table class="responsive-design1" [settings]="settings" [source]="source">
                </ng2-smart-table>
            </div>
        </nb-card-body>
    </nb-card>
</div>