:host ::ng-deep ng2-smart-table tbody > tr > td:nth-last-child(2),
:host ::ng-deep ng2-smart-table tbody > tr > td:nth-last-child(1) {
    text-align: center;
}

// :host ::ng-deep ng2-smart-table thead tr:nth-child(1) > th:nth-last-child(2),
:host ::ng-deep ng2-smart-table thead tr:nth-child(1) > th:nth-last-child(1) {
    text-align: center;
}

.view-pricing-action {
    margin-right: 0.6rem;
    margin-left: 0.2rem;
}