<div class="page-header-container">
    <div class="page-header-title">Maintenance Dashboard</div>
    <div class="form-container" style="width: 25%;" >
      <div class="input-container">
        <div class="input-item search-input-icon">
          <i class="fa fa-search"></i>
          <input type="text" placeholder="Search">
        </div> 
      </div>
      
    </div>
  </div>
<nb-card class="card">
    <nb-card-body class="card-body-container">
        <div class="d-flex d-flex-row cards-container">
            <ngx-index-card title="Jobs" count="12" showGreenArrow="true" changeCount="2"></ngx-index-card>
            <ngx-index-card title="Alerts" count="91" showRedArrow="true" changeCount="-4"></ngx-index-card>
            <ngx-index-card title="Critical Alerts" count="23" showRedArrow="true" changeCount="-8"></ngx-index-card>
            <ngx-index-card title="Required Attention" count="56" showRedArrow="true" changeCount="-2"></ngx-index-card>
            <ngx-index-card title="High Alerts" count="22" showRedArrow="true" changeCount="-1"></ngx-index-card>    
        </div>
    </nb-card-body>
</nb-card>