<div class="page-header-container">
    <div class="page-header-title">
        <span (click)="onClose()" class="cursor">Bank Accounts</span> / {{ bankAccount?.customer.name | value }}
    </div>
</div>
<div class="margin-16"></div>
<nb-card size="xlarge" *ngIf="bankAccount">
    <nb-card-header class="default-card-header">
        <h2 class="card-title">Bank Account Details - {{ bankAccount?.customer.name | value }}</h2>
    </nb-card-header>
    <nb-card-body [nbSpinner]="isLoading" nbSpinnerStatus="primary" nbSpinnerSize="giant">
        <div *ngIf="bankAccount?.isDefault" class="badge badge-pill float-right font-weight-normal is-default mr-1">
            DEFAULT
        </div>
        <div *ngIf="bankAccount?.isDeleted"
            class="badge badge-pill badge-danger float-right font-weight-normal open-quote-deleted">
            DELETED
        </div>
        <div class="card-details">

            <div class="card-details-container">
                <div class="displayData" *ngIf="displayAccountName">
                    <div class="label">Account Name</div>
                    <div class="content"> {{ bankAccount?.customer.name | value}}</div>
                </div>
                <div class="displayData">
                    <div class="label">Account Number (last 4 digits)</div>
                    <div class="content"> {{ bankAccount?.last4 | value}}</div>
                </div>
                <div class="displayData">
                    <div class="label">Name on Account</div>
                    <div class="content" id="last4" value="">{{ bankAccount?.accountHolderName | value}}</div>
                </div>
            </div>

            <div class="card-details-container">
                <div class="displayData">
                    <div class="label">Bank Name</div>
                    <div class="content"> {{ bankAccount?.bankName | value  }}</div>
                </div>
                <div class="displayData">
                    <div class="label">Account Type</div>
                    <div class="content"> {{ bankAccount?.accountType | value }}</div>
                </div>
                <div class="displayData">
                    <div class="label">Status</div>
                    <div class="content" id="last4" value="">{{ bankAccount?.status?.description | value }}</div>
                </div>
            </div>

        </div>

    </nb-card-body>
</nb-card>