<div class="popup-container">
    <div class="popup-title">
        Contact Details
    </div>
    <div>
        <div class="popup-content-section">
            <div class="popup-item">
                <div class="label">Name</div>
                <div class="content"> {{ contact?.name | value }}</div>
            </div>
            <div class="popup-item">
                <div class="label">Title</div>
                <div class="content"> {{ contact?.title | value }}</div>
            </div>
            <div class="popup-item">
                <div class="label">Email</div>
                <div class="content"> {{ contact?.email | value }}</div>
            </div>
            <div class="popup-item">
                <div class="label">Phone</div>
                <div class="content"> {{ contact?.phone | value }}</div>
            </div>
            <div class="popup-item">
                <div class="label">Mobile</div>
                <div class="content"> {{ contact?.mobilePhone | value }}</div>
            </div>
            <div class="popup-item">
                <div class="label">Fax</div>
                <div class="content"> {{ contact?.fax | value }}</div>
            </div>
        </div>
        <ng-template [ngIf]="!contact">
            <div class="col-12 p-4">
                Open quote not found.
            </div>
        </ng-template>
    </div>
    <div class="popup-footer">
        <button (click)="onCancel()" type="button" class="secondary-button">
            Close
        </button>
    </div>
</div>

<ng-template #doneButton>
    <button class="main-button">
        OK
    </button>
</ng-template>
<ng-template #contactDetailsContent>
    <div class='joyride-custom-content'>
        <div style="margin-bottom: 5px;">
            Admin Users lookup.
        </div>
        <div>
            <i class="fas fa-share guiding-tour-action"></i>Resend Invitation
        </div>
        <div>
            <i class="fas fa-recycle guiding-tour-action"></i>Send Password Reset Request
        </div>
        <div>
            <i class="fas fa-sign-in-alt guiding-tour-action"></i>Login as a Customer User
        </div>
    </div>
</ng-template>