*{
  line-height: normal;
}
.auth-layout{
  position: relative;
  height: 100%;
  padding:0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/assets/images/bg.jpg");
  background-size: cover;
  overflow: auto;
  justify-content: center;
  &:after{
    content: "";
    background-color: var(--primary-color-bg);
    opacity: 0.9;
    position: absolute;
    top: 0;
    height: 100%;
    width:100%;

  }

  .auth-layout-title{
    z-index: 100;
  }
  .auth-layout-container{
    background-color: var(--primary-color-white);
    width: 100%;
    max-width: 1000px;
    display: flex;
    border-radius: 8px;
    // margin-top: 20px;
    z-index: 100;
    .auth-layout-container-left-section{
      width: 40%;
      border-radius: 8px 0 0 8px;
      .auth-layout-container-left-section-image{
        height: 100%;
        width: 100%;
        border-radius: 8px 0 0 8px;
        img{
          height: 100%;
          width: 100%;
          border-radius: 8px 0 0 8px;
          object-fit: cover;
        }
      }
    }
    .auth-layout-container-right-section{
      width: 60%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      .auth-layout-container-right-section-content{
        width: 90%;
        height: 100%;
      .auth-layout-container-right-section-content-title{
        font-size: 24px;
        color: var(--primary-color-black);
        font-weight: 600;
        }
      }
    }
  }
}


@media (max-width:1281px) {
  .auth-layout {
    .auth-layout-container{
      // max-width: 100%;
    }
  }
}
@media (max-width:641px) {
  .auth-layout {
    .auth-layout-container{
      .auth-layout-container-left-section{
        display: none;
      }
      .auth-layout-container-right-section{
        width: 100%;
      }
    }
  }
}
