.page-header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    margin-bottom: 12px;
    .page-header-title{
      font-size: 24px;
      color: var(--primary-color-blue);
      font-weight: 600;
      flex-shrink: 0;
      
      span{
        color: var(--primary-color-blue);
        i{
             margin-right: 28px;
        }
      }
      .cursor{
        cursor: pointer;
      }
    }
  }
  .table-container{
    margin-top: 8px;
    .table-header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      //margin-bottom: 32px;
      .table-record{
        font-size: 14px;
      }
    }
    
    .table-content{
      width: 100%;
      tbody{
        background-color: var(--primary-color-white) !important;
        tr{
          background-color: var(--primary-color-white) !important;
          a {
            color:var(--primary-color-black) !important;
            text-decoration: none;
            font-weight: 600;
          }
          
        }
        td {
          border-left: unset !important;
          border-right: unset !important;
          padding: 1em 1em !important;
          a {
            color:var(--primary-color-black) !important;
            text-decoration: none;
            font-weight: 600;
          }
        }
      }
      .ng2-smart-th{
        border: 0 !important;
       
        a {
          color:var(--primary-color-gray) !important;
          text-decoration: none;
          font-weight: 600;
        }
        a.sort.asc,
        a.sort.desc {
            color:var(--primary-color-gray);
            font-weight: bold;
        }
      }
      
    
        .nb-theme-corporate ng2-smart-table.default-smart-table table thead tr.ng2-smart-titles th a.sort.ng2-smart-sort-link.asc:after, .nb-theme-corporate ng2-smart-table.default-smart-table table thead tr.ng2-smart-titles th a.sort.ng2-smart-sort-link.desc:before {
          opacity: 1 !important;
      }
      .nb-theme-corporate ng2-smart-table.default-smart-table table thead tr.ng2-smart-titles th a.sort.ng2-smart-sort-link:after {
          content: "\2191" !important;
          right: 0.4rem !important;
      }
      .nb-theme-corporate ng2-smart-table.default-smart-table table thead tr.ng2-smart-titles th a.sort.ng2-smart-sort-link:after, .nb-theme-corporate ng2-smart-table.default-smart-table table thead tr.ng2-smart-titles th a.sort.ng2-smart-sort-link:before {
          position: absolute !important;
          border: none !important;
          top: 0 !important;
          bottom: 0 !important;
          vertical-align: middle !important;
          display: flex !important;
          align-items: center !important;
          justify-content: center !important;
          padding: 0 5px !important;
          opacity: .5 !important;
          transform: none !important;
          width: auto !important;
          height: auto !important;
      }
      .ng2-smart-sort-link{
        font-weight: 600 !important;
        font-size: 14px !important;
        &:before,
        &:after {
            position: absolute !important;
            border: none !important;
            top: 0 !important;
            bottom: 0 !important;
            vertical-align: middle !important;
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            padding: 0 5px !important;
            opacity: 0.5 !important;
            transform: none !important;
            width: auto !important;
            height: auto !important;
        }
        &:before {
            content: "\2193" !important;
            right: 0;
        }
        &:after {
            content: "\2191" !important;
            right: 0.4rem !important;
        }
        &.desc:before,
        &.asc:after {
            opacity: 1 !important;
            color: black;
        }
      }
      .ng2-smart-title{
        color: var(--primary-color-gray) !important;
        text-decoration: none;
        font-weight: 600;
      }
      a:not([href]):not([tabindex]) {
        text-decoration: none !important;
        color:var(--primary-color-gray);
        cursor: pointer;
        //min-width: 200px;
        display: inline-block;
        // margin-top: 10px;
        margin-left: 2px;
      }
      a:not([href]):not([tabindex]):hover {
        color:var(--primary-color-gray);
       }
    
      ng2-smart-table thead tr.ng2-smart-filters th {
        padding-bottom: 25px;
        padding-top: 0;
      }
    }
  }
  .badge{
    min-width: 50px;
    justify-content: center;
  }
  @media (max-width: 992px) {
    .table-container{
      .table-content{
        tr{
          display: flex;
          flex-direction: column;
          position: relative;
          border-bottom: 1px solid #edf1f7;
          padding-bottom: 10px;
          td{
            padding: 10px !important;
            border: unset !important;
            width: 100%;
            ng2-smart-table-cell{
              width: 100%;
              table-cell-view-mode{
                width: 100%;
                div[ng-reflect-ng-switch="custom"] {
                  width: 100%;
                }
              }
            }
          }
          .p-2{
            padding: 0 !important;
            padding-right: 8px !important;
          }
        }
        .ng-star-inserted{
          display: flex;
          align-items: center;
          //justify-content: space-between;
        }
        .ng2-smart-titles {
          display: none !important;
      }   
        .ng2-smart-filters{
          display: none !important;
        }
        ngx-smr-ng2-table-cell{
          width: 100%;
        }
      }
    }
  }
  .action-table-button-container{
    display: flex;
    justify-content: center;
    button.action-table-button{
      background: var(--primary-color-blue);
      padding: 10px;
      border-radius: 4px;
      color: var(--primary-color-white);
      margin: 0 auto;
      display: flex;
      outline: none;
      border:0;
    }
  }