:root{
  --primary-color-blue : #2b77b3;
  --primary-color-white : #ffffff;
  --primary-color-black : #333333;
  --primary-color-red: #ff0000;
  --primary-color-border : #cccccc;
  --primary-color-gray: #8f8f8f;
  --primary-color-yellow: #d6af00;
  --primary-color-bg : #003656;

}
