<form [formGroup]="form" *ngIf="form" (ngSubmit)="onClone()">
    <div class="popup-container">
        <div class="popup-title">
            Clone Quote
        </div>

        <div class="popup-content-section">
            <p>Please enter a Job name</p>
            <input type="text" maxlength="20" placeholder="Job Name" formControlName="jobName" class="form-control">
            <div *ngIf="formSubmitted && form.get('jobName').errors && form.get('jobName').errors['requiredWithTrim']"
                class="mt-1 help-block error">
                Job Name is required
            </div>

            <div *ngIf="formSubmitted && form.get('jobName').errors && form.get('jobName').errors['trimError']"
                class="mt-1 help-block error">
                This field can't start or end with a blank space
            </div>
        </div>

        <div class="popup-footer">
            <button type="button" class="secondary-button" (click)="onCancel()">
            Cancel
        </button>
            <!-- <div class="margin-8"></div> -->
            <button class="main-button" type="submit">
            Clone
        </button>
        </div>
    </div>
</form>