.last-active-alerts-table {
    font-size: small;
}

.card {
    // border: #dddddd thin solid;
    height: 32em;
}

.clickable-row {
    cursor: pointer;
}

tbody tr:hover {
    background-color: #DDDDDD;
}

.table {
	width: 100%;
    font-size: .9em;
}

.table .table {
	background: transparent;
}

/* Tables - Responsive */
.table-responsive > .table-bordered {
	border: 1px solid #dee2e6;
}

/* Bootstrap uses important, we need to force it here */
.table.mb-0 {
	margin-bottom: 0 !important;
}

/* In case you dont want a border in some row */
.table .b-top-0 td {
	border-top: none;
}

/* Tables - Actions */
.table .actions,
.table .actions-hover {
	vertical-align: middle;
}

.table .actions a,
.table .actions-hover a {
	display: inline-block;
	margin-right: 5px;
	color: #666;
}

.table .actions a:last-child,
.table .actions-hover a:last-child {
	margin-right: 0;
}

.table .actions a:hover,
.table .actions-hover a:hover {
	color: #333;
}

.table .actions-hover a {
	opacity: 0;
}

.table tr:hover .actions-hover a {
	opacity: 1;
}

.table .actions-fade a {
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table thead th {
    color: #0088cc !important;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}