.error {
    color: red;
  }

  nb-card-body {
    min-height: 200px;
  }

  .txt-area{
    // min-width:400px;
    // min-height:180px;
    // max-height:180px;
    
    min-width:20rem;
    min-height:11rem;
    max-height:11rem;
  }