<div class="popup-container">
    <div class="popup-title">
        Accounts
    </div>

    <div class="popup-content-section">
        <nb-radio-group [(value)]="selectedAccount">
            <nb-radio *ngIf="!hideAllOption" [value]="null">All</nb-radio>
            <nb-radio *ngFor="let account of accounts" [value]="account.accountId">{{ account.name }}</nb-radio>
        </nb-radio-group>
    </div>

    <div class="popup-footer">
        <button type="button" class="secondary-button" (click)="onCancel()">
            Cancel
        </button>
        <!-- <div class="margin-8"></div> -->
        <button type="button" class="main-button" (click)="onSelect()" [disabled]="hideAllOption ? !selectedAccount : false" >
            Select
        </button>
    </div>
</div>