.error {
    color: red;
}

.check-junck {
    margin-top: 1em;
    margin-bottom: 1em;
    font-style: italic;
}

.txt-xl {
    font-size: 1.125rem;
line-height: 1.75rem;
}

.txt-base {
    font-size: 0.875rem;
line-height: 1.25rem;
}
