<nb-card>
    <nb-card-header class="default-card-header">
        <h2 class="card-title">Bank Account Information</h2>
    </nb-card-header>
    <nb-card-body>
        <div class="alert alert-primary mb-0">
            <p class="mb-0">
                After submitting this form, two micro deposits will be sent to the bank account within two business days
                to authenticate the account's ownership.
            </p>
        </div>
        <form [formGroup]="bankAccountForm" (ngSubmit)="onSubmit()" class="form-container">
            <div class="row-container">
                <div class="input-container">
                    <div class="input-sub-container" *ngIf="displayAccountName">
                        <label class="label-align">Account Name</label>
                        <div class="input-item">
                            <div class="input-item-label"> {{ accountName | value }}</div>
                        </div>
                    </div>
                    <div class="input-sub-container">
                        <label class="label-align">Account Type</label>
                        <div class="input-item">
                            <nb-select [attr.placeholder-selected]="bankAccountForm.value.accountType === ''"
                                formControlName="accountType" class="form-control form-control-select">
                                <nb-option value="">Account Type</nb-option>
                                <nb-option value="Individual">Individual</nb-option>
                                <nb-option value="Company">Company</nb-option>
                            </nb-select>
                            <div *ngIf="formSubmitted">
                                <div class="help-block error" *ngIf="
                    bankAccountForm.get('accountType').errors != null &&
                    bankAccountForm.get('accountType').errors[
                      'requiredWithTrim'
                    ] &&
                    bankAccountForm.get('accountType').touched
                  ">
                                    Account Type is required
                                </div>
                                <div class="help-block error" *ngIf="
                    bankAccountForm.get('accountType').errors != null &&
                    bankAccountForm.get('accountType').errors[
                      'trimError'
                    ] &&
                    bankAccountForm.get('accountType').touched
                  ">
                                    This field can't start or end with a blank space
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-sub-container">
                        <label class="label-align">Name on Account</label>
                        <div class="input-item">
                            <input placeholder="Name on Account" type="text" maxlength="255" class="form-control"
                                formControlName="cardholderName" id="cardholderName" />
                            <div *ngIf="formSubmitted">
                                <div class="help-block error" *ngIf="
                        bankAccountForm.get('cardholderName').errors != null &&
                        bankAccountForm.get('cardholderName').errors[
                          'requiredWithTrim'
                        ] &&
                        bankAccountForm.get('cardholderName').touched
                      ">
                                    Name on Account is required
                                </div>
                                <div class="help-block error" *ngIf="
                        bankAccountForm.get('cardholderName').errors != null &&
                        bankAccountForm.get('cardholderName').errors[
                          'trimError'
                        ] &&
                        bankAccountForm.get('cardholderName').touched
                      ">
                                    This field can't start or end with a blank space
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input-container">
                    <div class="input-sub-container">
                        <label class="label-align">Account Number</label>
                        <div class="input-item">
                            <input placeholder="Account Number" type="text" maxlength="255" class="form-control"
                                formControlName="accountNumber" id="accountNumber" />
                            <div *ngIf="formSubmitted">
                                <div class="help-block error" *ngIf="
                                            bankAccountForm.get('accountNumber').errors != null &&
                                            bankAccountForm.get('accountNumber').errors[
                                            'requiredWithTrim'
                                            ] &&
                                            bankAccountForm.get('accountNumber').touched
                                        ">
                                    Account Number is required
                                </div>
                                <div class="help-block error" *ngIf="
                                            bankAccountForm.get('accountNumber').errors != null &&
                                            bankAccountForm.get('accountNumber').errors[
                                            'bankAccountNumber'
                                            ] &&
                                            bankAccountForm.get('accountNumber').touched
                                        ">
                                    Invalid Bank Account Number: must be 6-17 digits long.
                                </div>
                                <div class="help-block error" *ngIf="
                                                bankAccountForm.get('accountNumber').errors != null &&
                                                bankAccountForm.get('accountNumber').errors[
                                                'trimError'
                                                ] &&
                                                bankAccountForm.get('accountNumber').touched
                                            ">
                                    This field can't start or end with a blank space
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-sub-container">
                        <label class="label-align">Routing Number</label>
                        <div class="input-item">
                            <input (keypress)="onlyNumbers($event)" placeholder="Routing Number" type="text"
                                maxlength="255" class="form-control" formControlName="routingNumber"
                                id="routingNumber" />
                            <div *ngIf="formSubmitted">
                                <div class="help-block error" *ngIf="
                                            bankAccountForm.get('routingNumber').errors != null &&
                                            bankAccountForm.get('routingNumber').errors[
                                            'requiredWithTrim'
                                            ] &&
                                            bankAccountForm.get('routingNumber').touched
                                        ">
                                    Routing Number is required
                                </div>
                                <div class="help-block error" *ngIf="
                                            bankAccountForm.get('routingNumber').errors != null &&
                                            bankAccountForm.get('routingNumber').errors[
                                            'routingNumber'
                                            ] &&
                                            bankAccountForm.get('routingNumber').touched
                                        ">
                                    Invalid Routing Number: must be 9 digits.
                                </div>
                                <div class="help-block error" *ngIf="
                                                bankAccountForm.get('routingNumber').errors != null &&
                                                bankAccountForm.get('routingNumber').errors[
                                                'trimError'
                                                ] &&
                                                bankAccountForm.get('routingNumber').touched
                                            ">
                                    This field can't start or end with a blank space
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-buttons">
                <ngx-button routerLink=".." type="button" class="secondary-button">
                    Cancel
                </ngx-button>
                <ngx-button [isLoading]="isLoading" type="submit" class="main-button">
                    Add
                </ngx-button>
            </div>
        </form>
    </nb-card-body>
</nb-card>