:host {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  z-index: 1000;

  .backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
  }

  .filters-container {
    background-color: #fff;
    padding: 15px;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 75%;
    max-width: 500px;
    min-width: 320px;
    overflow: auto;
  }

  .filter-actions {
    margin-top: 15px;
  }
}
