.flex-container {
    display: flex;
    height: 85%;
}

.img-container{
    width: 40%;
}

.name-container{
    width: 60%;
}

.sixth-step-content-width {
    width: 13em;
}

.btn-sm,
.btn-group-sm > .btn {
    padding: 0.36rem 0.45rem;
    font-size: 0.750rem;
}

.default-card-header {
    // padding-top: 0.861rem !important;
    // padding-bottom: 0.861rem !important;
    // padding-left: 0.861rem !important;
}

.profile-img {
    max-width: 90%;
    max-height: 90%;
}


.privileges-icon {
    color: #0088cc;
    cursor: pointer;
    font-size: 1.1rem;
    transition: color 0.2s ease;
    margin-left: 0px !important;
    &:hover {
        color: #00a1f2;
    }
    text-align: right;
    display: table-cell;
}

.profile-header {
    position: relative;
    overflow: hidden;
}

.profile-header .profile-header-cover {
    background-size: 100% auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.profile-header .profile-header-cover:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0.85) 100%);
}

.profile-header .profile-header-content,
.profile-header .profile-header-tab,
.profile-header-img,
body .fc-icon {
    position: relative;
}

.profile-header .profile-header-tab {
    background: #fff;
    list-style-type: none;
    margin: -1.25rem 0 0;
    padding: 0 0 0 8.75rem;
    border-bottom: 1px solid #c8c7cc;
    white-space: nowrap;
}

.profile-header .profile-header-tab > li.active > a,
.profile-header .profile-header-tab > li > a.active {
    color: #007aff;
}

.profile-header .profile-header-content:after,
.profile-header .profile-header-content:before {
    content: "";
    display: table;
    clear: both;
}

.profile-header .profile-header-content {
    color: #fff;
    padding: 1.25rem;
}

body .fc th a,
body .fc-ltr .fc-basic-view .fc-day-top .fc-day-number,
body .fc-widget-header a {
    color: #000;
}

.profile-header-img {
    float: left;
    width: 7.5rem;
    height: 7.5rem;
    overflow: hidden;
    z-index: 10;
    margin: 0 1.25rem -1.25rem 0;
    padding: 0.1875rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    border-radius: 0.25rem;
    background: #fff;
}

.profile-header-info h4 {
    font-weight: 500;
    margin-bottom: 0.3125rem;
}

.profile-container {
    padding: 1.5625rem;
}

@media (max-width: 967px) {
    .profile-header-img {
        width: 5.625rem;
        height: 5.625rem;
        margin: 0;
    }
    .profile-header-info {
        margin-left: 6.5625rem;
        padding-bottom: 0.9375rem;
    }
    .profile-header .profile-header-tab {
        padding-left: 0;
    }

    .img-container{
        width: 35%;
    }
    
    .name-container{
        width: 65%;
    }
}

@media (max-width: 767px) {
    .btn-logout {
        width: 97.47px;
    }
    .user-name {
        font-size: 1rem !important;
    }
    .profile-header .profile-header-cover {
        background-position: top;
    }
    
    .profile-header-img {
        margin: 0;
    }
    .profile-header-info {
        margin-left: 4.6875rem;
        padding-bottom: 0.9375rem;
    }
    .profile-header-info h4 {
        margin: 0 0 0.3125rem;
    }
    .profile-header .profile-header-tab {
        white-space: nowrap;
        overflow: scroll;
        padding: 0;
    }
    .profile-container {
        padding: 0.9375rem 0.9375rem 3.6875rem;
    }
    .friend-list > li {
        float: none;
        width: auto;
    }
}

.profile-header-img img {
    max-width: 100%;
}

.table.table-profile th {
    border: none;
    color: #000;
    padding-bottom: 0.3125rem;
    padding-top: 0;
}

.table.table-profile td {
    border-color: #c8c7cc;
}

.table.table-profile tbody + thead > tr > th {
    padding-top: 1.5625rem;
}

.table.table-profile .field {
    color: #666;
    font-weight: 600;
    width: 25%;
    text-align: right;
}

.table.table-profile .value {
    font-weight: 500;
}

.user-name {
    padding-right: 5px;
    font-size: 1.1rem;
    font-weight: 750;
    text-align: left;
    display: table-cell;
}

.role-privilege-item {
    display: inline-block;
    background-color: #0088cc;
    color: white;
    margin: 2px 2px 3px 0px;
    padding: 2px 6px 2px 6px;
    border-radius: 20px;
}

nb-card .size-tiny {
    margin-bottom: 1rem !important;
}

nb-card-body {
    padding: 0.5rem !important;
}

::-webkit-scrollbar-thumb {
    background: rgb(88, 160, 196) !important;
}
