<form class="form-container" [formGroup]="form" *ngIf="form" (ngSubmit)="onSubmit()">
  <ng-template [ngIf]="!succuessMessage">
    <div class="input-container" >
      <div class="input-sub-container">
        <div class="input-item">
          <input type="text" formControlName="firstName" placeholder="First Name" maxlength="255" />
          <div *ngIf="
            formSubmitted &&
            form.get('firstName').touched &&
            form.get('firstName').errors &&
            form.get('firstName').errors['requiredWithTrim']
          " class="input-error">
            First Name is required
          </div>

          <div *ngIf="
            formSubmitted &&
            form.get('firstName').touched &&
            form.get('firstName').errors &&
            form.get('firstName').errors['trimError']
          " class="input-error">
            This field can't start or end with a blank space
          </div>
        </div>
        <div class="input-item">
          <input type="text" formControlName="lastName" placeholder="Last Name" maxlength="255" />
          <div *ngIf="
            formSubmitted &&
            form.get('lastName').touched &&
            form.get('lastName').errors &&
            form.get('lastName').errors['requiredWithTrim']
          " class="input-error">
            Last Name is required
          </div>
          <div *ngIf="
            formSubmitted &&
            form.get('lastName').touched &&
            form.get('lastName').errors &&
            form.get('lastName').errors['trimError']
          " class="input-error">
            This field can't start or end with a blank space
          </div>
        </div>
      </div>
      <div class="input-item">
        <input type="text" formControlName="title" placeholder="Title" maxlength="255" />
        <div *ngIf="
            formSubmitted &&
            form.get('companyName').touched &&
            form.get('companyName').errors &&
            form.get('companyName').errors['requiredWithTrim']
          " class="input-error">
          Title is required
        </div>
        <div *ngIf="
            formSubmitted &&
            form.get('title').touched &&
            form.get('title').errors &&
            form.get('title').errors['trimError']
          " class="input-error">
          This field can't start or end with a blank space
        </div>
      </div>
      <div class="input-item phone-input-item">
        <input type="text" ng2TelInput (keypress)="keyPress($event)" (countryChange)="countryChange($event)"
          formControlName="phoneNumber" placeholder="Phone Number" maxlength="30" />
        <div *ngIf="
            formSubmitted &&
            form.get('phoneNumber').touched &&
            form.get('phoneNumber').errors &&
            form.get('phoneNumber').errors['required']
          " class="input-error">
          Phone Number is required
        </div>
        <div *ngIf="
            formSubmitted &&
            form.get('phoneNumber').touched &&
            form.get('phoneNumber').errors &&
            form.get('phoneNumber').errors['trimError']
          " class="input-error">
          This field can't start or end with a blank space
        </div>
      </div>


      <div class="input-item">
        <input type="text" formControlName="email" placeholder="Email Address"
          (keydown.space)="$event.preventDefault()" />
        <div *ngIf="
            formSubmitted &&
            form.get('email').touched &&
            form.get('email').errors &&
            form.get('email').errors['requiredWithTrim']
          " class="input-error">
          Email Address is required
        </div>
        <div *ngIf="
            formSubmitted &&
            form.get('email').dirty &&
            form.get('email').errors &&
            form.get('email').errors['smartriseEmail'] &&
              !form.get('email').errors['trimError']
          " class="input-error">
          Please enter a valid email
        </div>
        <div *ngIf="
            formSubmitted &&
            form.get('email').touched &&
            form.get('email').errors &&
            form.get('email').errors['trimError']
          " class="input-error">
          This field can't start or end with a blank space
        </div>
      </div>
      <div class="input-item">
        <input type="text" formControlName="companyName" placeholder="Company Name" maxlength="255" />
        <div *ngIf="
            formSubmitted &&
            form.get('companyName').touched &&
            form.get('companyName').errors &&
            form.get('companyName').errors['requiredWithTrim']
          " class="input-error">
          Company Name is required
        </div>
        <div *ngIf="
            formSubmitted &&
            form.get('companyName').touched &&
            form.get('companyName').errors &&
            form.get('companyName').errors['trimError']
          " class="input-error">
          This field can't start or end with a blank space
        </div>
      </div>

      <div class="input-item">
        <input type="text" formControlName="businessAddress" placeholder="Business Address" maxlength="255" />
        <div *ngIf="
            formSubmitted &&
            form.get('businessAddress').touched &&
            form.get('businessAddress').errors &&
            form.get('businessAddress').errors['requiredWithTrim']
          " class="input-error">
          Business Address is required
        </div>
        <div *ngIf="
            formSubmitted &&
            form.get('businessAddress').touched &&
            form.get('businessAddress').errors &&
            form.get('businessAddress').errors['trimError']
          " class="input-error">
          This field can't start or end with a blank space
        </div>
      </div>
      <div class="input-sub-container">
        <div class="input-item">
          <input type="text" formControlName="city" placeholder="City" maxlength="255" />
          <div *ngIf="
              formSubmitted &&
              form.get('city').touched &&
              form.get('city').errors &&
              form.get('city').errors['requiredWithTrim']
            " class="input-error">
            City is required
          </div>
          <div *ngIf="
              formSubmitted &&
              form.get('city').touched &&
              form.get('city').errors &&
              form.get('city').errors['trimError']
            " class="input-error">
            This field can't start or end with a blank space
          </div>
        </div>
        <div class="input-item">
          <input type="text" formControlName="state" placeholder="State/Province" maxlength="255" />
          <div *ngIf="
            formSubmitted &&
            form.get('state').touched &&
            form.get('state').errors &&
            form.get('state').errors['requiredWithTrim']
          " class="input-error">
            State/Province is required
          </div>
          <div *ngIf="
            formSubmitted &&
            form.get('state').touched &&
            form.get('state').errors &&
            form.get('state').errors['trimError']
          " class="input-error">
            This field can't start or end with a blank space
          </div>
        </div>
      </div>
      <div class="input-item">
        <input type="text" formControlName="zipCode" placeholder="ZIP Code" maxlength="255" />
        <div *ngIf="
            formSubmitted &&
            form.get('zipCode').touched &&
            form.get('zipCode').errors &&
            form.get('zipCode').errors['requiredWithTrim']
          " class="input-error">
          ZIP Code is required
        </div>
        <div *ngIf="
            formSubmitted &&
            form.get('zipCode').touched &&
            form.get('zipCode').errors &&
            form.get('zipCode').errors['trimError']
          " class="input-error">
          This field can't start or end with a blank space
        </div>
      </div>
      <div class="input-item">
        <input type="text" formControlName="country" placeholder="Country" maxlength="255" />
        <div *ngIf="
            formSubmitted &&
            form.get('country').touched &&
            form.get('country').errors &&
            form.get('country').errors['requiredWithTrim']
          " class="input-error">
          Country is required
        </div>
        <div *ngIf="
            formSubmitted &&
            form.get('country').touched &&
            form.get('country').errors &&
            form.get('country').errors['trimError']
          " class="input-error">
          This field can't start or end with a blank space
        </div>
      </div>


    </div>

    <div class="form-action">
      <ngx-button [isLoading]="isLoading" class="main-button" type="submit">
        Request Access
      </ngx-button>
    </div>
    <div class="form-link-helper">
      Already have an account?
      <span (click)="goToLogin()">Login</span>
    </div>
  </ng-template>

  <ng-template [ngIf]="succuessMessage">
    <div class="alert alert-success font-weight-bold">
      {{ succuessMessage }}
    </div>
    <div class="text-center">
      <button class="btn btn-primary" (click)="goToLogin()">
        Go to Login
      </button>
    </div>
  </ng-template>
</form>