
<div class="popup-container">
    <div class="popup-title">
        {{title}}
    </div>

    <div class="popup-content-section">
        <div>
        <input maxlength="255" #searchInput [(ngModel)]="search" [disabled]="isRefreshingContacts"
            (keyup)="onChange($event)" placeholder="Search" type="text" [ngClass]="{'quote-input form-control': true}"
            scrollStrategy="close" min="0" />
        </div>
        <div>
            <ul *ngIf="hasOptions" class="pt-1 mt-2 border">
                <li (click)="onSelectionChange(option)" *ngFor="let option of displayOptions"
                    class="option pb-1 text-center">
                    {{ option[autocompleteDisplayField] }}
                </li>
            </ul>
            <ul class="pt-1 mt-2" *ngIf="!hasOptions">
                <li class="pb-1 text-center">
                    No data found
                </li>
            </ul>
        </div>
    </div>

    <div class="popup-footer">
        <button type="button" class="secondary-button" (click)="onCancel()">
            Cancel
        </button>
    </div>
</div>