<nb-card class="in-dialog">
  <nb-card-header class="default-card-header d-flex align-items-center justify-content-between">
    <h2 class="card-title">Active Bank Accounts</h2>
    <button type="button" class="close ml-5" aria-label="Close" tooltip="Close" (click)="onCancel()"
      style="outline: none">
      <i class="fas fa-times text-sm"></i>
    </button>
  </nb-card-header>
  <nb-card-body class="card-body">

      <div *ngIf="source && !isSmall">
        <ng2-smart-table class="default-smart-table responsive-design1" #table [settings]="settings" [source]="source">
        </ng2-smart-table>
      </div>

      <div *ngIf="isSmall">
        <nb-list>
          <nb-list-item class="list-item" *ngFor="let account of accounts">
            <div class="container px-3 py-2">


              <div>
                <input (click)="onSelect(account)" type="radio" name="activeBankAccount" [value]="account.id"
                  [checked]="account.selected">
                <span>
                  ********{{ account.last4 }}
                </span>
              </div>

              <div class="bank-name">
                {{ account.bankName }}
              </div>
            </div>
          </nb-list-item>
        </nb-list>
      </div>

  </nb-card-body>

  <nb-card-footer class="d-flex justify-content-end px-3 py-2">
    <button (click)="onCancel()" type="button" class="footer-btn btn btn-secondary">
      <i class="clear-icon fas fa-times"></i>
      Cancel
    </button>
    <button [disabled]="!accountSelected" (click)="onChoose()" type="button" class="footer-btn btn btn-primary mx-1">
      <i class="clear-icon fas fa-check"></i>
      Choose
    </button>
  </nb-card-footer>
</nb-card>