<div class="popup-container">

  <div class="popup-title">
    Active Bank Accounts
  </div>

  <div class="popup-content-section">
    <div *ngIf="source && !isSmall">
      <ng2-smart-table class="default-smart-table responsive-design1" #table [settings]="settings" [source]="source">
      </ng2-smart-table>
    </div>

    <div *ngIf="isSmall">
      <nb-list>
        <nb-list-item class="list-item" *ngFor="let account of accounts">
          <div class="container px-3 py-2">


            <div>
              <input (click)="onSelect(account)" type="radio" name="activeBankAccount" [value]="account.id"
                [checked]="account.selected">
              <span>
                ********{{ account.last4 }}
              </span>
            </div>

            <div class="bank-name">
              {{ account.bankName }}
            </div>
          </div>
        </nb-list-item>
      </nb-list>
    </div>
  </div>

  <div class="popup-footer">
    <button (click)="onCancel()" type="button" class="secondary-button">
      Cancel
    </button>
    <!-- <div class="margin-8"></div> -->
    <button [disabled]="!accountSelected" (click)="onChoose()" type="button" class="main-button">
      Choose
    </button>
  </div>

</div>