// :host {
//     width: 50vw;
//     display: block;
//     min-width: 300px;
// }

// .row {
//     margin-right: -13px !important;
// }

// .actions{
//     width: 100%;
// }

// @media (max-width: 600px) {
//     .form-group {
//         margin-bottom: 1rem;
//     }
// }

// // .card-title{
// //     font-weight: bold;
// //     background-color: #f6f6f6;
// // }

// .nb-theme-corporate nb-checkbox.status-basic .native-input:disabled ~ .text{
//     color: red !important;
// }

// .error {
//     color: #f00;
// }

// .data-loading {
//     visibility: hidden;
// }
::ng-deep ngx-profile nb-select .select-button {
    padding-left: 0 !important;
}
::ng-deep ngx-profile nb-select[isselected=true] .select-button span {
    font-weight: 600;
    color: black;
}
