<nb-card class="in-dialog">
    <nb-card-header class="default-card-header d-flex align-items-center justify-content-between">
        <h2 class="card-title">Notification Settings</h2>
        <button type="button" class="close ml-5" aria-label="Close" tooltip="Close" (click)="onClose()"
            style="outline: none">
            <i class="fas fa-times text-sm"></i>
        </button>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="notificationSettingForm" (ngSubmit)="onSubmit()" class="form-container">
            <div class="row-container">
                <div class="input-container">
                    <div class="input-sub-container">
                        <label class="label-align">Configuration Type</label>
                        <div class="input-item">
                            <nb-select placeholder="Configuration Type" formControlName="configurationType"
                                (selectedChange)="onConfigurationTypeChanged($event)" class="col-lg-12 p-0">
                                <nb-option *ngFor="let cnfType of cnfTypes;" [value]="cnfType.value">{{ cnfType.title }}
                                </nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <div class="input-sub-container" *ngIf="configurationType === configurationTypeSeverityAndPartType">
                        <label class="label-align">Severity</label>
                        <div class="input-item">
                            <nb-select placeholder="Severity" formControlName="severity" class="col-lg-12 p-0">
                                <nb-option *ngFor="let sev of severities;" [value]="sev.value">{{ sev.title
                                    }}</nb-option>
                            </nb-select>
                        </div>
                    </div>

                </div>
                <div class="input-container">
                    <div class="input-sub-container">
                        <label class="label-align">Notification Method</label>
                        <div class="input-item">
                            <nb-select placeholder="Notification Method" formControlName="notificationMethod"
                                class="col-lg-12 p-0">
                                <nb-option *ngFor="let nfcMtd of nfcMtds;" [value]="nfcMtd.value">{{ nfcMtd.title
                                    }}</nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <div class="input-sub-container"  *ngIf="configurationType === configurationTypePartType || configurationType === configurationTypeSeverityAndPartType">
                        <label class="label-align">Part Type</label>
                        <div class="input-item">
                            <nb-select placeholder="Part Type" formControlName="partType" class="col-lg-12 p-0">
                                <nb-option *ngFor="let partType of partTypes;" [value]="partType.name">{{ partType.name }}
                                </nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <div class="input-sub-container" *ngIf="configurationType === configurationTypeAlertType">
                        <label class="label-align">Alert Type</label>
                        <div class="input-item">
                            <nb-select placeholder="Alert Type" formControlName="alertType" class="col-lg-12 p-0">
                                <nb-option *ngFor="let _alertType of alertTypes;" [value]="_alertType.value">{{
                                    _alertType.title }}</nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <div class="input-sub-container"  *ngIf="configurationType === configurationTypeAlert">
                        <label class="label-align">Alert</label>
                        <div class="input-item">
                            <nb-select placeholder="Alert" formControlName="alert" class="col-lg-12 p-0">
                                <nb-option *ngFor="let alert of alerts;" [value]="alert.name">{{ alert.name }}</nb-option>
                            </nb-select>
                        </div>
                    </div>

                </div>

            </div>
          
        </form>
    </nb-card-body>

    <nb-card-footer class="form-buttons">
        <button (click)="onCancel()" type="button" class="secondary-button">
          
            Cancel
        </button>
        <button (click)="onSubmit()" type="submit" class="secondary-button">
          
            Update
        </button>
    </nb-card-footer>
</nb-card>