
<div class="popup-container">
    <div class="popup-title">
        Activity History ({{quoteName}})
    </div>

    <div class="popup-content-section">
        <div class="row">
            <div class="col-sm-12 table-container">
                <ng2-smart-table class="default-smart-table responsive-design1" #table [settings]="settings"
                    [source]="source">
                </ng2-smart-table>
            </div>
        </div>
    </div>

    <div class="popup-footer">
        <button (click)="onCancel()" type="button" class="secondary-button">
            Close
        </button>
    </div>
</div>

