// @nebular theming framework
@import "@nebular/theme/styles/theming";
// @nebular out of the box themes
@import "@nebular/theme/styles/themes";
// material themes
@import "./material/material-dark";
@import "./material/material-light";
$nb-themes: nb-register-theme(
    (
        layout-padding-top: 2.25rem,
        menu-item-icon-margin: 0 0.5rem 0 0,
        card-height-tiny: 13.5rem,
        card-height-small: 21.1875rem,
        card-height-medium: 28.875rem,
        card-height-large: 36.5625rem,
        card-height-giant: 44.25rem,
        card-margin-bottom: 1.875rem,
        card-header-with-select-padding-top: 0.5rem,
        card-header-with-select-padding-bottom: 0.5rem,
        select-min-width: 6rem,
        slide-out-background: #f7f9fc,
        slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
        slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
       
    ),
    default,
    default
);
$nb-themes: nb-register-theme(
    (
        layout-padding-top: 2.25rem,
        menu-item-icon-margin: 0 0.5rem 0 0,
        card-height-tiny: 13.5rem,
        card-height-small: 21.1875rem,
        card-height-medium: 28.875rem,
        card-height-large: 36.5625rem,
        card-height-giant: 44.25rem,
        card-margin-bottom: 1.875rem,
        card-header-with-select-padding-top: 0.5rem,
        card-header-with-select-padding-bottom: 0.5rem,
        select-min-width: 6rem,
        slide-out-background: #252547,
        slide-out-shadow-color: 2px 0 3px #29157a,
        slide-out-shadow-color-rtl: -2px 0 3px #29157a,
    ),
    cosmic,
    cosmic
);
$nb-themes: nb-register-theme(
    (
        layout-padding-top: 2.25rem,
        layout-padding: 0,
        layout-medium-padding: 0,
        layout-small-padding: 0,
        footer-padding: 0.5rem,
        footer-text-font-size: 0.9rem,
        header-padding: 0,
        header-height: 60px,
        header-background-color:#003656,
        sidebar-width: 275px,
        sidebar-width-compact: 73px,
        layout-background-color: #ecedf0,
        card-border-width: 0,
        card-border-radius: 5px,
        card-padding: 1rem,
        card-text-color: #777,
        card-text-font-size: 1rem,
        sidebar-text-color: #777,
        sidebar-padding: 0,
        menu-item-icon-active-color: #0088cc,
        menu-item-active-text-color: #0088cc,
        tabset-tab-text-transform: none,
        tabset-tab-text-color: #0088cc,
        tabset-tab-active-text-color: #0088cc,
        tabset-tab-focus-text-color: #0088cc,
        tabset-tab-hover-text-color: #0088cc,
        tabset-tab-hover-underline-color: #0088cc,
        tabset-tab-focus-underline-color: #0088cc,
        tabset-tab-active-underline-color: #0088cc,
        tabset-tab-background-color: #f4f4f4,
        tabset-tab-hover-background-color: #f4f4f4,
        tabset-tab-padding: 0.5rem 1rem,
        tabset-content-padding: 15px,
        tabset-tab-text-line-height: 22px,
        tabset-divider-width: 0,
        tabset-tab-text-font-size: 1rem,
        accordion-header-text-color: #0088cc,
        accordion-header-text-font-size: 1rem,
        accordion-header-text-font-weight: 550,
        accordion-header-text-line-height: 20px,
        accordion-header-border-color: #82bddd !important,
        accordion-header-border-style: solid !important,
        accordion-header-border-width: 1px !important,
        accordion-padding: 18px,
        option-medium-text-font-weight: normal,
        select-medium-text-font-weight: normal,
        select-outline-medium-padding: 0.5rem,
        select-icon-offset: 0.5rem,
        select-min-width: 4rem,
        // select-min-width: 6rem,
        option-medium-padding: 0.1rem 0.5rem,
        menu-item-icon-margin: 0 0.5rem 0 0,
        menu-item-active-background-color: #fafafa,
        menu-submenu-item-active-background-color: #f6f6f6,
        menu-submenu-background-color: #f6f6f6,
        card-height-tiny: 13.5rem,
        card-height-small: 21.1875rem,
        card-height-medium: 28.875rem,
        card-height-large: 36.5625rem,
        card-height-giant: 44.25rem,
        card-margin-bottom: 1.875rem,
        card-header-with-select-padding-top: 0.5rem,
        card-header-with-select-padding-bottom: 0.5rem,
        slide-out-background: linear-gradient(270deg, #edf1f7 0%, #e4e9f2 100%),
        slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
        slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
        calendar-width: 16rem,
        calendar-picker-padding-top: 0,
        calendar-picker-padding-bottom: 0,
        calendar-picker-padding-start: 0,
        calendar-picker-padding-end: 0,
        calendar-navigation-padding: 0,
        calendar-text-font-size: 0.8rem,
        calendar-cell-hover-text-font-size: 0.8rem,
        calendar-cell-active-text-font-size: 0.8rem,
        calendar-cell-today-text-font-size: 0.8rem,
        calendar-cell-selected-text-font-size: 0.8rem,
        calendar-weekday-text-font-size: 0.8rem,
        calendar-weeknumber-text-font-size: 0.8rem,
        calendar-navigation-title-text-font-size: 0.8rem,
        calendar-text-line-height: 1rem,
        calendar-navigation-title-text-line-height: 1rem,
        calendar-cell-hover-text-line-height: 1rem,
        calendar-cell-active-text-line-height: 1rem,
        calendar-cell-today-text-line-height: 1rem,
        calendar-cell-selected-text-line-height: 1rem,
        calendar-day-cell-height: 2rem,
        calendar-month-cell-height: 2rem,
        calendar-year-cell-height: 2rem,
        calendar-weekday-text-line-height: 1rem,
        calendar-weekday-height: 2rem,
        calendar-weeknumber-text-line-height: 1rem,
        calendar-weeknumber-height: 2rem,
        calendar-day-cell-large-height: 2.5rem,
        calendar-weekday-large-height: 2.5rem,
        calendar-weeknumber-large-height: 2.5rem,
        calendar-month-cell-large-height: 2.5rem,
        calendar-year-cell-large-height: 2.5rem,
        checkbox-text-font-weight: normal,
        checkbox-text-font-size: 0.9125rem,
        checkbox-basic-checked-background-color: #0088cc !important,
        checkbox-basic-checked-border-color: #0088cc !important,
        checkbox-basic-indeterminate-background-color: #0088cc !important,
        checkbox-basic-indeterminate-border-color: #0088cc !important,
        checkbox-basic-focus-checked-background-color: #0088cc !important,
        checkbox-basic-focus-checked-border-color: #0088cc !important,
        checkbox-basic-disabled-text-color: #8b8b8b,
        checkbox-basic-disabled-background-color: rgba(143, 155, 179, 0.16) !important,
        checkbox-basic-disabled-checked-background-color: rgba(143, 155, 179, 0.48) !important,
        checkbox-basic-disabled-border-color: rgba(143, 155, 179, 0.24) !important,
        toggle-basic-checked-background-color: #0088cc,
        toggle-basic-checked-border-color: #0088cc,
        toggle-basic-checked-switcher-checkmark-color: #0088cc,
        toggle-basic-focus-border-color: #0088cc,
        toggle-basic-hover-border-color: #0088cc,
        toggle-basic-active-border-color: #0088cc,
        select-filled-primary-background-color: #2ce69b,
        select-filled-info-focus-background-color: #2ce69b,
        option-list-max-height: 16rem,
    ),
    corporate,
    corporate
);
$nb-themes: nb-register-theme(
    (
        layout-padding-top: 2.25rem,
        menu-item-icon-margin: 0 0.5rem 0 0,
        card-height-tiny: 13.5rem,
        card-height-small: 21.1875rem,
        card-height-medium: 28.875rem,
        card-height-large: 36.5625rem,
        card-height-giant: 44.25rem,
        card-margin-bottom: 1.875rem,
        card-header-with-select-padding-top: 0.5rem,
        card-header-with-select-padding-bottom: 0.5rem,
        select-min-width: 6rem,
        slide-out-background: linear-gradient(270deg, #222b45 0%, #151a30 100%),
        slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
        slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
    ),
    dark,
    dark
);
$nb-themes: nb-register-theme(
    (
        layout-padding-top: 2.25rem,
        menu-item-icon-margin: 0 0.5rem 0 0,
        card-height-tiny: 13.5rem,
        card-height-small: 21.1875rem,
        card-height-medium: 28.875rem,
        card-height-large: 36.5625rem,
        card-height-giant: 44.25rem,
        card-margin-bottom: 1.875rem,
        card-header-with-select-padding-top: 0.5rem,
        card-header-with-select-padding-bottom: 0.5rem,
        select-min-width: 6rem,
        option-list-border-radius: 0,
        slide-out-background: linear-gradient(270deg, #e0e0e0 0%, #ebebeb 100%),
        slide-out-shadow-color: 0 4px 14px 0 #ebebeb,
        slide-out-shadow-color-rtl: 0 4px 14px 0 #ebebeb,
    ),
    material-light,
    material-light
);
$nb-themes: nb-register-theme(
    (
        layout-padding-top: 2.25rem,
        menu-item-icon-margin: 0 0.5rem 0 0,
        card-height-tiny: 13.5rem,
        card-height-small: 21.1875rem,
        card-height-medium: 28.875rem,
        card-height-large: 36.5625rem,
        card-height-giant: 44.25rem,
        card-margin-bottom: 1.875rem,
        card-header-with-select-padding-top: 0.5rem,
        card-header-with-select-padding-bottom: 0.5rem,
        select-min-width: 6rem,
        option-list-border-radius: 0,
        slide-out-background: linear-gradient(270deg, #1f1f1f 0%, #292929 100%),
        slide-out-shadow-color: 0 4px 14px 0 #292929,
        slide-out-shadow-color-rtl: 0 4px 14px 0 #292929,
    ),
    material-dark,
    material-dark
);
