<div class="popup-container">

    <div class="popup-title">
        {{ title }}
    </div>

    <div class="popup-content-section">
        
        <ng-template [ngIf]="showEmptyMessage">
            <p>{{ messageIfEmpty }}</p>
        </ng-template>

        <ng-template [ngIf]="!showEmptyMessage && showAsGroupList">
            <ul class="titles-list">
                <li *ngFor="let group of dialogGroupContent; let isLast = last">
                    <a *ngIf="group?.list?.length">{{ group.title }}</a>
                    <ul class="items-list">
                        <li *ngFor="let item of group.list">{{ item }}</li>
                    </ul>
                </li>
            </ul>
        </ng-template>

        <ng-template [ngIf]="!showEmptyMessage && !showAsBulltes">
            <p *ngFor="let line of dialogContent; let isLast = last" [class.mb-0]="isLast">
                {{ line }}
            </p>
        </ng-template>

        <ng-template [ngIf]="!showEmptyMessage && !!showAsBulltes">
            <ul style="padding-inline-start: 1rem; margin-bottom: 0;">
                <li *ngFor="let line of dialogContent">{{ line }}</li>
            </ul>
        </ng-template>
    </div>

    <div class="popup-footer">
        <button (click)="dismiss()" type="button" class="secondary-button">
            {{ dismissButtonLabel }}
        </button>
    </div>
</div>

<!-- <nb-card class="in-dialog">

    <nb-card-body class="info-card-body">

        <ng-template [ngIf]="showEmptyMessage">
            <p>{{ messageIfEmpty }}</p>
        </ng-template>

        <ng-template [ngIf]="!showEmptyMessage && showAsGroupList">
            <ul class="titles-list">
                <li *ngFor="let group of dialogGroupContent; let isLast = last">
                    <a *ngIf="group?.list?.length">{{ group.title }}</a>
                    <ul class="items-list">
                        <li *ngFor="let item of group.list">{{ item }}</li>
                    </ul>
                </li>
            </ul>
        </ng-template>

        <ng-template [ngIf]="!showEmptyMessage && !showAsBulltes">
            <p *ngFor="let line of dialogContent; let isLast = last" [class.mb-0]="isLast">
                {{ line }}
            </p>
        </ng-template>

        <ng-template [ngIf]="!showEmptyMessage && !!showAsBulltes">
            <ul style="padding-inline-start: 1rem; margin-bottom: 0;">
                <li *ngFor="let line of dialogContent">{{ line }}</li>
            </ul>
        </ng-template>

    </nb-card-body>

</nb-card> -->