<div class="table-container">
    <div class="page-header-container">
        <div class="page-header-title">Notification Settings</div>
        <div class="card-actions">
            <div tooltip="View Notification Logs">
                <button [disabled]="!canViewLogs" (click)="onViewLogs()" class="btn btn-primary mr-1">
                    <i class="fas fa-clipboard-list"></i>
                    View Logs
                </button>
            </div>
        </div>
    </div>
    <nb-card>
        <nb-card-body>

            <div class="table-content">
                <ngx-smr-mobile-filters *ngIf="isSmall && showFilters" (close)="toggleFilters()">
                    <div class="form-container" filters>
                        <div class="input-container">
                            <div *ngIf="isSmartriseUser"  class="input-item">
                                <input type="text" maxlength="255" placeholder="Job Number"
                                    [(ngModel)]="jobNumber" />
                            </div>
                            <div  class="input-item">
                                <input type="text" maxlength="255" placeholder="Job Name"
                                    [(ngModel)]="jobName" />
                            </div>
                            <div  class="input-item">
                                <input type="text" maxlength="255" placeholder="Alerts Count" 
                                    [(ngModel)]="alertsCount" />
                            </div>
                            <div  class="input-item">
                                <nb-select [(ngModel)]="status">
                                    <nb-option value="">Status</nb-option>
                                    <nb-option *ngFor="let c of alertStatuses" [value]="c.value">
                                        {{ c.title }}
                                    </nb-option>
                                </nb-select>
                            </div>

                            <div class="filter-control">
                                <!-- <ngx-smr-records-per-page [recordsNumber]="recordsNumber" (changed)="onRecordsNumberChanged($event)">
                            </ngx-smr-records-per-page> -->
                            </div>
                        </div>
                    </div>
                    <div class="form-action" actions>
                        <button class="main-button" (click)="onSearch(); toggleFilters()">
                            <i class="fas fa-search"></i>
                            Search
                        </button>
                        <!-- <button (click)="onReset(); toggleFilters()" class="btn btn-block btn-primary my-2">
                            <i class="fas fa-redo-alt"></i>
                            Reset Filters
                        </button> -->
                    </div>
                </ngx-smr-mobile-filters>
            </div>

            <div class="row">
                <!-- <div class="col-12 d-flex justify-content-end" *ngIf="isSmall">
                    <button type="button" class="main-button" (click)="toggleFilters()">
                        <i class="fas fa-filter"></i>
                    </button>
                </div> -->
                <div class="table-content" *ngIf="source">
                    <ng2-smart-table [settings]="settings" [source]="source">
                    </ng2-smart-table>
                </div>
            </div>
        </nb-card-body>
    </nb-card>
</div>