<div class="page-header-container">
  <div class="page-header-title" *ngIf="smartriseUser">
      <span (click)="onClose()" class="cursor">Smartrise Users</span> / {{ smartriseUser.firstName }} {{ smartriseUser.lastName }}
  </div>
</div>

<form [formGroup]="smartriseUserForm" (ngSubmit)="onSubmit()" *ngIf="isFormReady">
  <div class="update-smartrise">
    <div class="update-smartrise-container">
      <nb-card [nbSpinner]="isLoading" nbSpinnerStatus="primary" nbSpinnerSize="giant" size="small">
        <nb-card-header class="default-card-header">
          <h2 class="card-title">User Information</h2>
        </nb-card-header>
        <nb-card-body>
          <div class="form-container">
            <div class="row-container">
              <div class="input-container">
                <div class="input-sub-container">
                  <label class="label-align">First Name</label>
                  <div class="input-item">
                    <div class="input-item-label">{{ smartriseUser.firstName }}</div>
                  </div>
                </div>

                <div class="input-sub-container">
                  <label class="label-align">First Name</label>
                  <div class="input-item">
                    <div class="input-item-label">{{ smartriseUser.lastName }}</div>
                  </div>
                </div>

                <div class="input-sub-container">
                  <label class="label-align">Email</label>
                  <div class="input-item">
                    <div class="input-item-label">{{ smartriseUser.email }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="roles-list">
      <div class="form-group">
        <ngx-smr-roles-checklist [isTouched]="rolesTouched" [hideError]="!formSubmitted" formControlName="roles"
          [roles]="roles"></ngx-smr-roles-checklist>
      </div>
    </div>
  </div>

  <div class="form-buttons">
    <ngx-button routerLink=".." type="button" class="secondary-button">
      Cancel
    </ngx-button>
    <ngx-button type="submit" class="main-button">
      Update
    </ngx-button>
  </div>
</form>