<div class="page-header-container">
    <div class="page-header-title">Account Users {{ selectedAccountName }}</div>
    <div *ngIf="isSmall">
        <button class="main-button" type="button" (click)="toggleFilters()">
            <i class="fas fa-filter"></i>
        </button>
    </div>
</div>
<div class="actions-user-container">
    <ngx-pager #pager></ngx-pager>
    <div class="avatar-btn-container">
        <div class="avatar-btn">
            <a>
                <button [disabled]="!canCreateCustomerUser" (click)="onCreateUser()" class="main-button"
                    joyrideStep="customerUserSecondStep" stepPosition="left" [prevTemplate]="prevButton"
                    [nextTemplate]="nextButton" [doneTemplate]="doneButton"
                    [title]="runGuidingTour === true ? 'Users' : null" [stepContent]="secondCustomContent"
                    (done)="onFinishingTour()" tooltip="Create User">
                    <i class="fas fa-user-plus"></i>
                </button>
            </a>
        </div>
    </div>

</div>

<div class="table-container">
    <nb-card joyrideStep="customerUserFirstStep" stepPosition="center"
        [title]="runGuidingTour === true ? 'Users' : null" [stepContent]="firstCustomContent" (done)="onFinishingTour()"
        [nextTemplate]="nextButton">

        <ng-template #firstCustomContent>
            <div class='joyride-custom-content'>
                <div style="margin-bottom: 5px;">
                    Manage Account users.
                </div>
                <div>
                    <i class="fas fa-pencil-alt guiding-tour-action"></i>Update Account Roles
                </div>
                <div>
                    <i class="fas fa-share guiding-tour-action"></i>Resend Invitation
                </div>
                <div>
                    <i class="fas fa-recycle guiding-tour-action"></i>Send Password Reset Request
                </div>
            </div>
        </ng-template>

        <nb-card-body>
            <ng-template [ngIf]="isSmall === false">
                <div class="row mb-3">
                    <div class="col d-flex align-items-center justify-content-start">
                        <!-- <button (click)="onReset()" class="btn btn-primary">
                        <i class="fas fa-redo-alt"></i>
                        Reset Filters
                    </button> -->
                    </div>
                    <div class="col-auto d-flex align-items-center justify-content-start">
                        <!-- <ngx-smr-records-per-page [recordsNumber]="recordsNumber" (changed)="onRecordsNumberChanged($event)">
                    </ngx-smr-records-per-page> -->
                    </div>
                </div>
            </ng-template>
            <div class="table-content">
                <ngx-smr-mobile-filters *ngIf="isSmall && showFilters" (close)="toggleFilters()">
                    <div class="form-container" filters>
                        <div class="input-container">
                            <div class="input-item">
                                <input type="text" maxlength="255" placeholder="First Name"
                                    [(ngModel)]="firstName" />
                            </div>
                            <div class="input-item">
                                <input type="text" maxlength="255" placeholder="Last Name"
                                    [(ngModel)]="lastName" />
                            </div>
                            <div class="input-item">
                                <input type="email" maxlength="255" placeholder="Email"
                                    [(ngModel)]="email" />
                            </div>
                            <div class="input-item">
                                <!-- <ngx-smr-records-per-page [recordsNumber]="recordsNumber" (changed)="onRecordsNumberChanged($event)">
                    </ngx-smr-records-per-page> -->
                            </div>
                        </div>
                    </div>
                    <div actions class="form-action">
                        <button class="main-button" (click)="onSearch(); toggleFilters()">
                            <i class="fas fa-search"></i>
                            Search
                        </button>
                        <!-- <button (click)="onReset(); toggleFilters()" class="btn btn-block btn-primary my-2">
                    <i class="fas fa-redo-alt"></i>
                    Reset Filters
                </button> -->
                    </div>
                </ngx-smr-mobile-filters>
            </div>
            <div class="row" [nbSpinner]="isLoading" nbSpinnerStatus="primary" nbSpinnerSize="giant">
                <div class="col-12 d-flex justify-content-end" *ngIf="isSmall">
                    <button type="button" class="btn btn-primary" (click)="toggleFilters()">
                        <i class="fas fa-filter"></i>
                    </button>
                </div>
                <div class="table-content" *ngIf="source">
                    <ng2-smart-table #table [settings]="settings"
                        [source]="source">
                    </ng2-smart-table>
                </div>
            </div>
        </nb-card-body>
    </nb-card>
</div>

<ng-template #secondCustomContent>
    <div class='joyride-custom-content'>
        <div style="margin-bottom: 5px;">
            Create a new user.
        </div>
    </div>
</ng-template>

<ng-template #prevButton>
    <button class="main-button">
        <i class="fas fa-step-backward"></i>
        Prev
    </button>
</ng-template>
<ng-template #nextButton>
    <button class="main-button">
        Next
        <i class="fas fa-step-forward"></i>
    </button>
</ng-template>
<ng-template #doneButton>
    <button class="main-button">
        <i class="clear-icon fas fa-check"></i>
        OK
    </button>
</ng-template>