<nb-card class="in-dialog">
    <nb-card-header class="default-card-header d-flex align-items-center justify-content-between">
        <h2 class="card-title">Alert Settings</h2>
        <button type="button" class="close ml-5" aria-label="Close" tooltip="Close" (click)="onCancel()"
            style="outline: none">
            <i class="fas fa-times text-sm"></i>
        </button>
    </nb-card-header>
    <nb-card-body class="card-body">

        <form [formGroup]="alertSettingsForm" (ngSubmit)="onSubmit()" class="form-container">
            <div class="row-container">
                <div class="input-container">
                    <div class="input-sub-container">
                        <label class="label-align" for="alertName">Alert Name</label>
                        <div class="input-item">
                            <input formControlName="alertName" type="text" placeholder="Alert Name" />
                        </div>
                    </div>
                    <div class="input-sub-container">
                        <label class="label-align" for="alertDescription">Description</label>
                        <div class="input-item">
                            <input formControlName="alertDescription" type="text" placeholder="Alert Description" />
                        </div>
                    </div>

                </div>
                <div class="input-container">
                    <div class="input-sub-container">
                        <label class="label-align" for="severity">Severity</label>
                        <div class="input-item">
                            <nb-select formControlName="severity" class="col-lg-12 p-0" placeholder="Severity">
                                <nb-option *ngFor="let sev of severities;" [value]="sev.value">{{ sev.title
                                    }}</nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <div class="input-sub-container">
                        <label class="label-align" for="alertType">Alert Type</label>
                        <div class="input-item">
                            <nb-select formControlName="alertType" placeholder="Alert Type" optionsListClass="options"
                                (selectedChange)="onAlertTypeChange($event)" class="col-lg-12 p-0">
                                <nb-option *ngFor="let _alertType of alertTypes;" [value]="_alertType.value">{{
                                    _alertType.title
                                    }}
                                </nb-option>
                            </nb-select>
                        </div>
                    </div>

                </div>

            </div>
            <div *ngIf="alertType === faultAlertType">
                <div class="form-group section-title">Fault Alert</div>

                <div class="row-container">
                    <div class="input-container">
                        <div class="input-sub-container">
                            <label class="label-align" for="fault">Fault</label>
                            <div class="input-item">
                                <input #autoFaultInput formControlName="fault" nbInput type="text"
                                    (input)="onFaultChange()" placeholder="Enter value" [nbAutocomplete]="autoFault" />

                                <nb-autocomplete #autoFault (selectedChange)="onFaultSelectionChange($event)">

                                    <nb-option value="">Fault</nb-option>
                                    <nb-option *ngFor="let fault of filteredfaults$ | async"
                                        [value]="fault.description">
                                        {{ fault.description }}
                                    </nb-option>

                                </nb-autocomplete>
                            </div>
                        </div>
                        <div class="input-sub-container">
                            <label class="label-align" for="faultThreshold">Fault Threshold</label>
                            <div class="input-item">
                                <input formControlName="faultThreshold" type="number" placeholder="Threshold" />
                            </div>
                        </div>

                    </div>
                    <div class="input-container">
                        <div class="input-sub-container">
                            <label class="label-align">Possible Affected Parts</label>
                            <div class="input-item">
                                <nb-select multiple placeholder="Part Type">
                                    <nb-option *ngFor="let partType of possiblePartTypes;" [value]="partType.name">{{
                                        partType.name
                                        }}
                                    </nb-option>
                                </nb-select>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <div *ngIf="alertType === alarmAlertType">
                <div class="form-group  section-title">Alarm Alert</div>
                <div class="row-container">
                    <div class="input-container">
                        <div class="input-sub-container">
                            <label class="label-align" for="alarm">Alarm</label>
                            <div class="input-item">
                                <input #autoAlarmInput nbInput class="form-control" formControlName="alarm" type="text"
                                    (input)="onAlarmChange()" placeholder="Enter value" [nbAutocomplete]="autoAlarm" />

                                <nb-autocomplete #autoAlarm (selectedChange)="onAlarmSelectionChange($event)">
                                    <nb-option *ngFor="let alarm of filteredalarms$ | async"
                                        [value]="alarm.description">
                                        {{ alarm.description }}
                                    </nb-option>

                                </nb-autocomplete>
                            </div>
                        </div>
                        <div class="input-sub-container">
                            <label class="label-align" for="alarmThreshold">Alarm Threshold</label>
                            <div class="input-item">
                                <input formControlName="alarmThreshold" type="number" placeholder="Threshold" />
                            </div>
                        </div>

                    </div>
                    <div class="input-container">
                        <div class="input-sub-container">
                            <label class="label-align">Possible Affected Parts</label>
                            <div class="input-item">
                                <nb-select multiple placeholder="Part Type">
                                    <nb-option *ngFor="let partType of possiblePartTypes;" [value]="partType.name">{{
                                        partType.name
                                        }}
                                    </nb-option>
                                </nb-select>
                            </div>
                        </div>

                    </div>

                </div>


            </div>

            <div *ngIf="alertType === countBasedPartAlertType">
                <div class="form-group section-title">Count-based Part Alert</div>
                <div class="row-container">
                    <div class="input-container">
                        <div class="input-sub-container">
                            <label class="label-align" for="countBasedPart">Part</label>
                            <div class="input-item">
                                <nb-select formControlName="countBasedPart" placeholder="Part Type"
                                    class="col-lg-12 p-0">
                                    <nb-option *ngFor="let partType of partTypes;" [value]="partType.name">{{
                                        partType.name }}
                                    </nb-option>
                                </nb-select>
                            </div>
                        </div>
                        <div class="input-sub-container">
                            <label class="label-align" for="countBasedVendor">Vendor</label>
                            <div class="input-item">
                                <nb-select id="countBasedVendor" placeholder="Vendor" formControlName="countBasedVendor"
                                    class="col-lg-12 p-0">
                                    <nb-option *ngFor="let vendor of vendors;" [value]="vendor.name">{{ vendor.name
                                        }}</nb-option>
                                </nb-select>
                            </div>
                        </div>

                    </div>
                    <div class="input-container">
                        <div class="input-sub-container">
                            <label class="label-align" for="nbOfLatchesOfTurnsThreshold">Latches Or Turns
                                Threshold</label>
                            <div class="input-item">
                                <input formControlName="nbOfLatchesOfTurnsThreshold" type="number"
                                    placeholder="Threshold (Nb of latches or turns)" />
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div *ngIf="alertType === timeBasedPartAlertType">
                <div class="form-group section-title">Time-based Part Alert</div>
                <div class="row-container">
                    <div class="input-container">
                        <div class="input-sub-container">
                            <label class="label-align" for="timeBasedPart">Part</label>
                            <div class="input-item">
                                <nb-select placeholder="Part Type" formControlName="timeBasedPart"
                                    class="col-lg-12 p-0">
                                    <nb-option *ngFor="let partType of partTypes;" [value]="partType.name">{{
                                        partType.name }}
                                    </nb-option>
                                </nb-select>
                            </div>
                        </div>
                        <div class="input-sub-container">
                            <label class="label-align" for="timeBasedVendor">Vendor</label>
                            <div class="input-item">
                                <nb-select placeholder="Vendor" formControlName="timeBasedVendor" class="col-lg-12 p-0">
                                    <nb-option *ngFor="let vendor of vendors;" [value]="vendor.name">{{ vendor.name
                                        }}</nb-option>
                                </nb-select>
                            </div>
                        </div>

                    </div>
                    <div class="input-container">
                        <div class="input-sub-container">
                            <label class="label-align" for="nbOfDays">Number of Days</label>
                            <div class="input-item">
                                <input formControlName="nbOfDays" type="number" placeholder="Period (Number of Days)" />
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </form>
    </nb-card-body>
    <nb-card-footer class="form-buttons">
        <button (click)="onCancel()" class="secondary-button" type="button">
            Cancel
        </button>
        <button class="main-button" type="button" (click)="onSubmit()">
            {{ isEditMode ? 'Update' : 'Create' }}
        </button>
    </nb-card-footer>
</nb-card>