.card-body .control-label {
    color: black;
}

.section-title {
    font-size: 1.3em;
    margin-bottom: 1.2em;
}

.select-placeholder {
    color: gray;
}

.form-control { 
    color: black;
}

.control-label {
    color: #777 !important;
}

nb-option {
    max-width: 25em;
}

.options {
    background-color: red;
}

nb-card {
    flex: 1 1 45%;
    margin: 0;
}