<nb-card class="in-dialog">
    <nb-card-header class="default-card-header d-flex align-items-center justify-content-between">
        <h2 class="card-title">Alert Settings</h2>
        <button type="button" class="close ml-5" aria-label="Close" tooltip="Close" (click)="onCancel()"
            style="outline: none">
            <i class="fas fa-times text-sm"></i>
        </button>
    </nb-card-header>
    <nb-card-body class="card-body">

        <form [formGroup]="alertSettingsForm" (ngSubmit)="onSubmit()">
            <div class="row mb-4">

                <div class="form-group col-lg-2 text-right">
                    <label class="control-label pt-2" for="alertName">Alert Name</label>
                </div>
                <div class="form-group col-lg-4">
                    <input formControlName="alertName" type="text" placeholder="Alert Name" class="form-control" />
                </div>
                <div class="form-group col-lg-2 text-right">
                    <label class="control-label pt-2" for="severity">Severity</label>
                </div>
                <div class="form-group col-lg-4">
                    <nb-select formControlName="severity" class="col-lg-12 p-0" placeholder="Severity">
                        <nb-option *ngFor="let sev of severities;" [value]="sev.value">{{ sev.title }}</nb-option>
                    </nb-select>
                </div>

                <div class="form-group col-lg-2 text-right">
                    <label class="control-label pt-2" for="alertDescription">Description</label>
                </div>
                <div class="form-group col-lg-4">
                    <input formControlName="alertDescription" type="text" placeholder="Alert Description"
                        class="form-control" />
                </div>

                <div class="form-group col-lg-2 text-right">
                    <label class="control-label pt-2" for="alertType">Alert Type</label>
                </div>
                <div class="form-group col-lg-4">
                    <nb-select formControlName="alertType" placeholder="Alert Type" optionsListClass="options"
                        (selectedChange)="onAlertTypeChange($event)" class="col-lg-12 p-0">
                        <nb-option *ngFor="let _alertType of alertTypes;" [value]="_alertType.value">{{ _alertType.title
                            }}
                        </nb-option>
                    </nb-select>
                </div>
            </div>

            <div *ngIf="alertType === faultAlertType" class="row mb-2">
                <div class="form-group col-lg-12  section-title">Fault Alert</div>

                <div class="form-group col-lg-2 text-right">
                    <label class="control-label pt-2" for="fault">Fault</label>
                </div>
                <div class="form-group col-lg-4">

                    <input #autoFaultInput formControlName="fault" nbInput class="form-control" type="text"
                        (input)="onFaultChange()" placeholder="Enter value" [nbAutocomplete]="autoFault" />

                    <nb-autocomplete #autoFault (selectedChange)="onFaultSelectionChange($event)">

                        <nb-option value="">Fault</nb-option>
                        <nb-option *ngFor="let fault of filteredfaults$ | async" [value]="fault.description">
                            {{ fault.description }}
                        </nb-option>

                    </nb-autocomplete>

                </div>

                <div class="form-group col-lg-2 text-right">
                    <label class="control-label pt-2" for="faultThreshold">Fault Threshold</label>
                </div>
                <div class="form-group col-lg-4">
                    <input formControlName="faultThreshold" type="number" placeholder="Threshold"
                        class="form-control" />
                </div>

                <div class="col-lg-2 text-right">
                    <label class="control-label pt-2">Possible Affected Parts</label>
                </div>
                <div class="col-lg-4">
                    <nb-select multiple class="col-lg-12 p-0" placeholder="Part Type">
                        <nb-option *ngFor="let partType of possiblePartTypes;" [value]="partType.name">{{ partType.name
                            }}
                        </nb-option>
                    </nb-select>
                </div>
            </div>

            <div *ngIf="alertType === alarmAlertType" class="row mb-2">
                <div class="form-group col-lg-12 section-title">Alarm Alert</div>
                <div class="form-group col-lg-2 text-right">
                    <label class="control-label pt-2" for="alarm">Alarm</label>
                </div>
                <div class="form-group col-lg-4">

                    <input #autoAlarmInput nbInput class="form-control" formControlName="alarm" type="text"
                        (input)="onAlarmChange()" placeholder="Enter value" [nbAutocomplete]="autoAlarm" />

                    <nb-autocomplete #autoAlarm (selectedChange)="onAlarmSelectionChange($event)">
                        <nb-option *ngFor="let alarm of filteredalarms$ | async" [value]="alarm.description">
                            {{ alarm.description }}
                        </nb-option>

                    </nb-autocomplete>
                </div>
                <div class="form-group col-lg-2 text-right">
                    <label class="control-label pt-2" for="alarmThreshold">Alarm Threshold</label>
                </div>
                <div class="form-group col-lg-4">
                    <input formControlName="alarmThreshold" type="number" placeholder="Threshold"
                        class="form-control" />
                </div>
                <div class="col-lg-2  text-right">
                    <label class="control-label pt-2">Possible Affected Parts</label>
                </div>
                <div class="col-lg-4">
                    <nb-select multiple class="col-lg-12 p-0" placeholder="Part Type">
                        <nb-option *ngFor="let partType of possiblePartTypes;" [value]="partType.name">{{ partType.name
                            }}
                        </nb-option>
                    </nb-select>
                </div>
            </div>

            <div *ngIf="alertType === countBasedPartAlertType" class="row mb-2">
                <div class="form-group col-lg-12 section-title">Count-based Part Alert</div>
                <div class="form-group col-lg-2 text-right">
                    <label class="control-label pt-2" for="countBasedPart">Part</label>
                </div>
                <div class="form-group col-lg-4">
                    <nb-select formControlName="countBasedPart" placeholder="Part Type" class="col-lg-12 p-0">
                        <nb-option *ngFor="let partType of partTypes;" [value]="partType.name">{{ partType.name }}
                        </nb-option>
                    </nb-select>
                </div>
                <div class="form-group col-lg-2 text-right">
                    <label class="control-label pt-2" for="countBasedVendor">Vendor</label>
                </div>
                <div class="col-lg-4">
                    <nb-select id="countBasedVendor" placeholder="Vendor" formControlName="countBasedVendor" class="col-lg-12 p-0">
                        <nb-option *ngFor="let vendor of vendors;" [value]="vendor.name">{{ vendor.name }}</nb-option>
                    </nb-select>
                </div>
                <div class="form-group col-lg-2 text-right">
                    <label class="control-label pt-2" for="nbOfLatchesOfTurnsThreshold">Latches Or Turns
                        Threshold</label>
                </div>
                <div class="form-group col-lg-4">
                    <input formControlName="nbOfLatchesOfTurnsThreshold" type="number"
                        placeholder="Threshold (Nb of latches or turns)" class="form-control" />
                </div>
            </div>

            <div *ngIf="alertType === timeBasedPartAlertType" class="row mb-2">
                <div class="form-group col-lg-12 section-title">Time-based Part Alert</div>
                <div class="form-group col-lg-2 text-right">
                    <label class="control-label pt-2" for="timeBasedPart">Part</label>
                </div>
                <div class="col-lg-4">
                    <nb-select placeholder="Part Type" formControlName="timeBasedPart" class="col-lg-12 p-0">
                        <nb-option *ngFor="let partType of partTypes;" [value]="partType.name">{{ partType.name }}
                        </nb-option>
                    </nb-select>
                </div>
                <div class="form-group col-lg-2 text-right">
                    <label class="control-label pt-2" for="timeBasedVendor">Vendor</label>
                </div>
                <div class="col-lg-4">
                    <nb-select placeholder="Vendor" formControlName="timeBasedVendor" class="col-lg-12 p-0">
                        <nb-option *ngFor="let vendor of vendors;" [value]="vendor.name">{{ vendor.name }}</nb-option>
                    </nb-select>
                </div>
                <div class="form-group col-lg-2 text-right">
                    <label class="control-label pt-2" for="nbOfDays">Number of Days</label>
                </div>
                <div class="form-group col-lg-4">
                    <input formControlName="nbOfDays" type="number" placeholder="Period (Number of Days)"
                        class="form-control" />
                </div>
            </div>
            <!-- [disabled]="!alertSettingsForm.valid" -->
            <!-- <div class="row">
                <div class="form-group col-lg-12 text-right">
                    <button (click)="onCancel()" class="btn btn-secondary mr-1" type="button">
                        <i class="fas fa-times"></i>
                        Cancel
                    </button>
                    <button class="btn btn-primary" type="submit">
                        <i [class]="isEditMode ? 'fas fa-save' : 'fas fa-plus-circle'"></i>
                        {{ isEditMode ? 'Update' : 'Create' }}
                    </button>
                </div>
            </div> -->
        </form>
    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-end px-3 py-2">
        <button (click)="onCancel()" class="btn btn-secondary mr-1" type="button">
            <i class="fas fa-times"></i>
            Cancel
        </button>
        <button class="btn btn-primary" type="button" (click)="onSubmit()">
            <i [class]="isEditMode ? 'fas fa-save' : 'fas fa-plus-circle'"></i>
            {{ isEditMode ? 'Update' : 'Create' }}
        </button>
    </nb-card-footer>
</nb-card>