<div class="page-header-container">
    <div class="page-header-title">Dashboard</div> 
</div>  
<div *ngIf="show2FAisActivated" class="alert alert-primary">
    <i class="fas fa-times float-right close-alert" tooltip="Close Alert" (click)="onClose2FAAlert()"></i>
    <p class="mb-0">
        The Two-Factor Authentication is now enabled for your account. The next time you login, you will be asked to
        enter a Security Code sent to your Email address.
    </p>
</div>

<div joyrideStep="sixthStep" stepPosition="center" (done)="onFinishingTour()"
    [title]="runGuidingTour === true ? 'Time to get started!' : null" [stepContent]="sixthCustomContent"
    [prevTemplate]="prevButton" [doneTemplate]="doneButton">

    <ng-template #sixthCustomContent>
        <div class="joyride-custom-content sixth-step-content-width">
            Click
            <label class="imitate-link" (click)="rerunGuidingTour()">here</label> to revisit the tour.
        </div>
    </ng-template>
</div>

<div joyrideStep="firstStep" stepPosition="center" [title]="runGuidingTour === true ? 'Customer Portal' : null"
    (done)="onFinishingTour()" [stepContent]="firstCustomContent" [nextTemplate]="nextButton">

    <ng-template #firstCustomContent>
        <div class="joyride-custom-content">
            Welcome to your Customer Portal!<br /> Let’s take a minute to go over how this portal will be useful to you
            and your team.
        </div>
    </ng-template>
</div>

<div class="main-card">
    <div class="card-container" *ngIf="hasAccessToCustomers">
        <ngx-favorite-customer [data]="favoriteCustomers" [isLoading]="isLoadingFavoriteCustomers">
        </ngx-favorite-customer>
    </div>
    <div class="card-container" *ngIf="hasAccessToActiveJobs">
        <nb-card size="xlarge" class="card-container-data pb-1 mb-3">
            <nb-card-header class="default-card-header has-action">
                <h2 class="card-title">
                    Active Jobs
                </h2>
                <div class="view-all-jobs">
                    <a (click)="onViewAllJobs($event)" href="">View all jobs</a>
                </div>
            </nb-card-header>
            <nb-card-body class="card-body y-scrollable">
                <ngx-active-jobs [activeJobIDs]="activeJobIDs"></ngx-active-jobs>
            </nb-card-body>

        </nb-card>
    </div>
    <div class="card-container" *ngIf="hasAccessToCreateOnlineQuote">
        <nb-card size="xlarge" class="card-container-data pb-1 mb-3">
            <nb-card-header class="default-card-header has-action">
                <h2 class="card-title has-Action">
                    Create a Quote
                </h2>
                <div class="download-rfq">
                    <a href="">Download RFQ Form</a>
                </div>
            </nb-card-header>
            <nb-card-body class="card-body y-scrollable" [nbSpinner]="isLoadingCountries" nbSpinnerStatus="primary"
                nbSpinnerSize="giant">
                <ngx-create-online-quote *ngIf="!isLoadingCountries" [countries]="countries" [accounts]="accounts">
                </ngx-create-online-quote>
            </nb-card-body>

        </nb-card>
    </div>
    <div class="card-container" *ngIf="hasAccessToJobListing">
        <nb-card size="xlarge" class="card-container-data pb-1 mb-3">
            <nb-card-header class="default-card-header">
                <h2 class="card-title">
                    Passcodes
                </h2>
            </nb-card-header>
            <nb-card-body class="card-body">
                <ngx-dashboard-passcodes></ngx-dashboard-passcodes>
            </nb-card-body>

        </nb-card>
    </div>
</div>

<!-- <div class="row">

    

    <div class="col-12 col-md-4" *ngIf="hasAccessToCreateOnlineQuote">
        <nb-card size="tiny">
            <nb-card-header class="default-card-header">
                <h2 class="card-title">
                    Create Quote
                </h2>
            </nb-card-header>
            <nb-card-body class="card-body y-scrollable" [nbSpinner]="isLoadingCountries" nbSpinnerStatus="primary"
                nbSpinnerSize="giant">
                <ngx-create-online-quote *ngIf="!isLoadingCountries" [countries]="countries" [accounts]="accounts">
                </ngx-create-online-quote>
            </nb-card-body>
        </nb-card>
    </div>

    <div class="col-12 col-md-4" *ngIf="hasAccessToJobListing">
        <nb-card size="tiny" style="height: 17.6rem;">
            <nb-card-header class="default-card-header">
                <h2 class="card-title">
                    Passcodes
                </h2>
            </nb-card-header>
            <nb-card-body class="card-body">
                <ngx-dashboard-passcodes></ngx-dashboard-passcodes>
            </nb-card-body>
        </nb-card>
    </div>

    <div class="col-12 col-md-4" *ngIf="hasAccessToActiveJobs">
        <nb-card size="tiny" style="height: 17.6rem;">
            <nb-card-header class="default-card-header">
                <h2 class="card-title">
                    Active Jobs
                </h2>
            </nb-card-header>
            <nb-card-body class="card-body y-scrollable">
                <ngx-active-jobs [activeJobIDs]="activeJobIDs"></ngx-active-jobs>
            </nb-card-body>
        </nb-card>
    </div>

</div> -->

<ng-template #prevButton>
    <button class="main-button">
        <i class="fas fa-step-backward"></i>
        Prev
    </button>
</ng-template>
<ng-template #nextButton>
    <button class="main-button">
        Next
        <i class="fas fa-step-forward"></i>
    </button>
</ng-template>
<ng-template #doneButton>
    <button class="main-button">
        <i class="clear-icon fas fa-check"></i>
        OK
    </button>
</ng-template>