.default-card-header {
    padding-top: 0.861rem !important;
    padding-bottom: 0.861rem !important;
    padding-left: 0.861rem !important;
}

.card-body{
    overflow: hidden;
}

.row {
    margin-right: 3px;
}

.col-md-4 {
    padding-right: 5px;
}

.close-alert {
    cursor: pointer;
}