<nb-card class="card">
    <nb-card-body class="card-body">
        <div>
            <div class="d-flex-column">
                <div class="d-flex justify-content-end sticky-top adjust-zindex">
                    <div *ngIf="showRedArrow" class="count-change count-change-red">{{ changeCount }}</div>
                    <div *ngIf="showGreenArrow" class="count-change count-change-green">{{ changeCount }}</div>
                    <ng-template [ngIf]="showGreenArrow">
                        <img class="arrow-image" tooltip="Increase in Last Week" src="assets/images/green-arrow.png" />
                    </ng-template>
                    <ng-template [ngIf]="showRedArrow">
                        <img tooltip="Decrease in Last Week" class="arrow-image" src="assets/images/red-arrow.png" />
                    </ng-template>
                </div>
                <div class="text-content">
                    <div class="count center">
                        {{ count }}
                    </div>
                    <div class="title center">
                        {{ title }}
                    </div>
                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>