<div class="page-header-container">
    <div class="page-header-title" *ngIf="job">
        <span (click)="onClose()" class="cursor">Jobs</span> / {{ job.jobName }}
    </div>
    <!-- <div *ngIf="!isSmall" class="form-container mx-w-400" style="width: 40%;">
        <div class="input-container">
            <div class="input-item">
                <input type="text" placeholder="Search">
            </div>
        </div>
    </div> -->

</div>

<div style="display: flex;flex-direction: column;gap: 32px;margin-top: 8px;">
    <div class="main-card">
        <div class="card-container">
            <nb-card size="xlarge" class="card-container-data pb-1 mb-3">
                <nb-card-header class="default-card-header">
                    <h2 class="card-title">Job Details</h2>
                </nb-card-header>
                <nb-card-body>
                    <ngx-job-basiic-info (refresh)="onRefresh()" [job]="job" [passcode]="passcode"
                        [displayAccountName]="displayAccountName"></ngx-job-basiic-info>
                </nb-card-body>

            </nb-card>
        </div>
        <div class="card-container">
            <nb-card size="xlarge" class="card-container-data pb-1 mb-3">
                <nb-card-header class="default-card-header">
                    <h2 class="card-title">Job History</h2>
                </nb-card-header>
                <nb-card-body>
                    <div class="job-history">
                        <div class="job-history-container">
                            <div class="job-history-label">Released to Engineering</div>
                            <div class="job-history-content"> {{job?.releasedToEngineering | value}}</div>
                        </div>
                        <div class="job-history-container">
                            <div class="job-history-label">Engineerd</div>
                            <div class="job-history-content"> {{job?.engineered | value}}</div>
                        </div>
                        <div class="job-history-container">
                            <div class="job-history-label last-label">Released to Production</div>
                            <div class="job-history-content"> {{job?.releasedToProduction | value}}</div>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>

    <div class="main-card">
        <div class="card-container">
            <nb-card size="xlarge" class="card-container-data pb-1 mb-3">
                <nb-card-header class="default-card-header">
                    <h2 class="card-title">Shipments</h2>
                </nb-card-header>
                <nb-card-body>
                    <ngx-job-shipments [shipments]="job?.shipments"></ngx-job-shipments>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="card-container">
            <nb-card size="xlarge" class="card-container-data pb-1 mb-3">
                <nb-card-header class="default-card-header">
                    <h2 class="card-title">Job Files</h2>
                </nb-card-header>
                <nb-card-body>
                    <ngx-job-resources [jobId]="job?.id" [resourceFiles]="job?.resourceFiles">
                    </ngx-job-resources>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>



<!-- <div class="text-right mb-0 mx-3" *ngIf="!isLoading">
    <button class="btn btn-secondary width-100 width-md-auto" type="button" (click)="onClose()">
        <i class="fas fa-times"></i>
        Close
    </button>
</div> -->

<ng-template [ngIf]="isLoading">
    <nb-card [nbSpinner]="isLoading" nbSpinnerStatus="primary" nbSpinnerSize="giant">
        <div class="col-12 p-4">
        </div>
    </nb-card>
</ng-template>