.sr-radio {
    display: inline-block;
    margin-right: 1rem;
}
@media (max-width: 767px) {
    .invoice-amount {
        font-size: 0.85rem !important;
    }

    .item-section {
    }
}

.invoice-number {
    @media (max-width: 767px) {
        font-size: 12px !important;
    }
}

.total {
    margin-right: 16px;
}
.align {
    text-align: center;
}

.invoice-row {
    display: grid;
    grid-template-columns: 1fr 6fr 4fr;
}

.invoice-card-section {
    width: 100%;
}
@media (min-width: 992px) {
    .invoice-card-section {
        width: 36%;
    }
}

.invoice-card-section nb-card {
    color: black;
}
.invoice-card-section nb-card-body {
    padding: 0rem;
}
.invoice-card-section nb-card {
    border: 1px solid #e4e9f2;
}

.invoice-card-section .item-section {
    position: relative;

    padding-left: 1rem;
    padding-right: 1rem;

    padding-top: 1rem;
    padding-bottom: 2rem;

    border-bottom: 1px solid #e4e9f2;
}

.invoice-card-section .last-item-section {
    border-bottom: none;
}

.invoice-card-section .item-section .item-description > span:first-child {
    font-size: 14px;
    font-weight: bold;
}

.invoice-card-section .item-section .item-description > span:last-child {
    font-size: 12px;
}

.invoice-card-section .item-section .image-section > i {
    font-size: 34px;
    color: gray;
    // margin-left: 10px;
    // margin-top: 4px;
}

.invoice-card-section .invoicing-section {
    font-size: 16px;
}

.invoice-card-section .invoicing-section {
    padding-left: 1rem;
    padding-right: 1rem;

    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px solid #e4e9f2;
}

.invoice-card-section .invoicing-section .row > div {
    padding-bottom: 0.2rem;
}

.invoice-card-section .invoice-card-header button {
    border: none;
    background-color: transparent;
    color: blue;
}

.invoice-card-header span {
    font-size: 16px;
    color: black;
}

.invoice-message {
    color: #dc3545;
    font-size: 14px !important;
}
// .invoice-card-footer button {
//     background-color: #ffc439;
//     border-color: #ffc439;
//     color: white;
//     width: 100%;
// }

// .invoice-card-footer button:hover {
//     background-color: #f9b513;
//     border-color: #f9b513;
// }

.actions button,
.actions button:focus {
    border: 0rem;
    outline: 0rem;
    background-color: transparent;
    margin-left: 4px;
    width: 10px;
    color: #666;
    padding: 0;
}

.actions button:disabled {
    color: #bbb;
    background-color: transparent;
    opacity: 0.5;
    cursor: not-allowed;
}

.locked-invoice {
    color: red;
    position: absolute;
    top: 4px;
    right: 4px;
}

.checkout {
    position: absolute;
    left: 0;
}

.wait-spinner {
    width: 100%;
    height: 250px;
}

.show {
    visibility: visible;
}

.hide {
    display: none;
}

.back {
    margin-top: 7px;
}

::-webkit-scrollbar {
    width: 0.3125rem;
}
::-webkit-scrollbar-thumb {
    background: rgb(88, 160, 196) !important;
}
.items {
    overflow-y: auto;
    max-height: 250px;
}

.pay-with {
    font-size: 20px;
}

.waiting-bank-accounts {
    color: #0088cc;
}

.btn-yes,
.btn-no {
    width: 3.5rem;
}

.change-account {
    padding: 0;
    color: #666;
    background-color: transparent;
    border: none;
}

.loading-statement {
    color: var(--primary-color-blue);
}