<form class="form-container" [formGroup]="form" *ngIf="form" (ngSubmit)="onSubmit()">
    <ng-template [ngIf]="!succuessMessage">
        <div class="form-container-subtitle">Enter your email address and we will send you a link to reset your password</div>
        <div class="input-container">
            <div class="input-item">
                <input type="text" id="email" formControlName="emailAddress" placeholder="Email Address"
                     (keydown.space)="$event.preventDefault()" />
                <div *ngIf="formSubmitted &&
                form.get('emailAddress').touched &&
                form.get('emailAddress').errors &&
                form.get('emailAddress').errors['requiredWithTrim']"
                    class="input-error">
                    Email Address is required
                </div>
                <div *ngIf="formSubmitted && form.get('emailAddress').touched && form.get('emailAddress').errors
                && (formSubmitted && form.get('emailAddress').errors['smartriseEmail'] && !form.get('emailAddress').errors['trimError'])"
                    class="input-error">
                    Please enter a valid email
                </div>
                <div *ngIf="formSubmitted && form.get('emailAddress').touched && form.get('emailAddress').errors && form.get('emailAddress').errors['trimError']"
                    class="input-error">
                    This field can't start or end with a blank space
                </div>
            </div>
        </div>

        <div class="form-action">
            <ngx-button [isLoading]="isLoading" class="main-button"
                type="submit">
                <!-- <i class="fas fa-share"></i> -->
                Send Email
            </ngx-button>
        </div>
        <div class="form-link-helper" >
          Already have an account?
         <span (click)="goToLogin()">Login</span>
        </div>

    </ng-template>
    <ng-template [ngIf]="succuessMessage">
        <div class="alert alert-success font-weight-bold">
            {{ succuessMessage }}
        </div>
        <div class="text-right">
            <button class="btn btn-primary" (click)="goToLogin()">
                <i class="fas fa-chevron-left"></i>
                Go to Login</button>
        </div>
    </ng-template>
</form>
