.card-title {
    font-weight: 550;
    color: #0088cc !important;
}

.card-header {
    border-bottom: 1px solid #82bddd !important;
}

.pagination,
.page-item.active,
.page-link {
    color: #fff;
    border-radius: 0.125rem;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.actions button,
.actions button:focus {
    border: 0rem;
    color: #0088cc;
    outline: 0rem;
    background-color: transparent;
}

.actions button:disabled {
    color: #007bff;
    background-color: transparent;
    opacity: 0.5;
}

.card-actions {
    float: right;
    margin-bottom: 15px;
    position: static;
    text-align: right;
}

.error{
    color: red;
}

.label {
    font-weight: bold;
}

.control-label {
}
