<div class="page-header-container">
  <div class="page-header-title">System Settings</div>
</div>
<div class="margin-16"></div>
<form [formGroup]="systemSettingsForm" (ngSubmit)="onSubmit()">
  <div class="setting-container">
    <nb-card class="setting-card">
      <nb-card-header class="default-card-header">
        <h2 class="card-title">SMTP</h2>
      </nb-card-header>
      <nb-card-body class="form-container">
        <div class="row-container">
          <div class="input-container">
            <div class="input-sub-container">
              <label class="label-align required" for="smtpHost">Host</label>

              <div class="input-item">
                <input type="text" maxlength="255" formControlName="smtpHost" id="smtpHost"  placeholder="Host"/>
                <div class="help-block error" *ngIf="formSubmitted &&
            systemSettingsForm.get('smtpHost').errors != null &&
            systemSettingsForm.get('smtpHost').errors['required'] &&
            systemSettingsForm.get('smtpHost').touched
          ">
                  Host is required
                </div>
              </div>
            </div>

            <div class="input-sub-container">
              <label class="label-align required" for="smtpPort">Port</label>

              <div class="input-item">
                <input type="text" maxlength="255" formControlName="smtpPort" id="smtpPort"  placeholder="Port"/>
                <div class="help-block error" *ngIf="formSubmitted &&
            systemSettingsForm.get('smtpPort').errors != null &&
            systemSettingsForm.get('smtpPort').errors['required'] &&
            systemSettingsForm.get('smtpPort').touched
          ">
                  Port is required
                </div>
              </div>
            </div>

            <div class="input-sub-container">
              <label class="label-align required" for="smtpSsl">SSL</label>

              <div class="input-item">
                <nb-toggle id="smtpSsl" formControlName="smtpSsl">
                </nb-toggle>
              </div>
            </div>

            <div class="input-sub-container">
              <label class="label-align required" for="smtpUsername">Username</label>

              <div class="input-item">
                <input type="text" maxlength="255" formControlName="smtpUsername" id="smtpUsername"  placeholder="Username"/>
                <div class="help-block error" *ngIf="formSubmitted &&
            systemSettingsForm.get('smtpUsername').errors != null &&
            systemSettingsForm.get('smtpUsername').errors['required'] &&
            systemSettingsForm.get('smtpUsername').touched
          ">
                  Username is required
                </div>
              </div>
            </div>

            <div class="input-sub-container">
              <label class="label-align required" for="smtpPassword">Password</label>

              <div class="input-item">
                <input type="password" maxlength="255" formControlName="smtpPassword" id="smtpPassword"  placeholder="Password"/>
                <div class="help-block error" *ngIf="formSubmitted &&
            systemSettingsForm.get('smtpPassword').errors != null &&
            systemSettingsForm.get('smtpPassword').errors['required'] &&
            systemSettingsForm.get('smtpPassword').touched
          ">
                  Password is required
                </div>
              </div>
            </div>

            <div class="input-sub-container">
              <label class="label-align required" for="smtpFrom">Email From</label>

              <div class="input-item">
                <input type="text" maxlength="255" formControlName="smtpFrom" id="smtpFrom"  placeholder="Email From" />

                <div class="help-block error" *ngIf="formSubmitted &&
            systemSettingsForm.get('smtpFrom').errors != null &&
            systemSettingsForm.get('smtpFrom').errors['required'] &&
            systemSettingsForm.get('smtpFrom').touched
          ">
                  Email From is required
                </div>
                <div class="help-block error" *ngIf="formSubmitted &&
            systemSettingsForm.get('smtpFrom').errors != null &&
            systemSettingsForm.get('smtpFrom').errors['smartriseEmail'] &&
            systemSettingsForm.get('smtpFrom').touched
          ">
                  Invalid email
                </div>
                <div class="help-block error" *ngIf="formSubmitted &&
            systemSettingsForm.get('smtpFrom').errors != null &&
            systemSettingsForm.get('smtpFrom').errors['trimError'] &&
            systemSettingsForm.get('smtpFrom').touched
          ">
                  This field can't start or end with a blank space
                </div>
              </div>
            </div>

            <div class="input-sub-container">
              <label class="label-align required" for="smtpReplyTo">Reply To</label>
              <div class="input-item">
                <input type="text" maxlength="255" formControlName="smtpReplyTo" id="smtpReplyTo"  placeholder="Reply To"/>

                <div class="help-block error" *ngIf="formSubmitted &&
            systemSettingsForm.get('smtpReplyTo').errors != null &&
            systemSettingsForm.get('smtpReplyTo').errors['required'] &&
            systemSettingsForm.get('smtpReplyTo').touched
          ">
                  Reply To is required
                </div>
                <div class="help-block error" *ngIf="formSubmitted &&
            systemSettingsForm.get('smtpReplyTo').errors != null &&
            systemSettingsForm.get('smtpReplyTo').errors['smartriseEmail'] &&
            systemSettingsForm.get('smtpReplyTo').touched
          ">
                  Invalid email
                </div>
                <div class="help-block error" *ngIf="formSubmitted &&
            systemSettingsForm.get('smtpReplyTo').errors != null &&
            systemSettingsForm.get('smtpReplyTo').errors['trimError'] &&
            systemSettingsForm.get('smtpReplyTo').touched
          ">
                  This field can't start or end with a blank space
                </div>
              </div>
            </div>

            <div class="input-sub-container">
              <label class="label-align required" for="smtpBccs">Bcc(s)</label>

              <div class="input-item">
                <input type="text" maxlength="255" formControlName="smtpBccs" id="smtpBccs"  placeholder="Bcc(s)"/>
              </div>
            </div>
          </div>
        </div>
      </nb-card-body>

    </nb-card>
    <nb-card class="setting-card">

      <nb-card-header class="default-card-header">
        <h2 class="card-title">User Interface</h2>
      </nb-card-header>


      <nb-card-body class="form-container">
        <div class="row-container">
          <div class="input-container">
            <div class="input-sub-container">
                <label class="label-align required" for="uiUrl">URL</label>

                <div class="input-item">
                  <input type="text" maxlength="255" formControlName="uiUrl" id="uiUrl"  placeholder="URL"/>
                  <div class="help-block error" *ngIf="formSubmitted &&
                  systemSettingsForm.get('uiUrl').errors != null &&
                  systemSettingsForm.get('uiUrl').errors['required'] &&
                  systemSettingsForm.get('uiUrl').touched
                ">
                    URL is required
                  </div>
              </div>
            </div>
          </div>
        </div>
      </nb-card-body>

    </nb-card>
  </div>
  <div class="text-right">
    <ngx-button [isLoading]="isSaving" [disabled]="isSaving || !canUpdateSystemSettings" type="submit" class="main-button">
      Update
    </ngx-button>
  </div>
</form>