.no-data-found {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border: 1px solid #0088cc;
}

.no-data-found-title {
    padding: 10px;
    background-color: #0088cc;
    color: #ddd;
    text-align: center;
    font-weight: bold;
}

.no-data-found .text-section {
    padding: 10px;
    text-align: center;
}
