<div *ngIf="isSmartrise" class="card-details">

  <div class="card-details-container">

    <div class="displayData" *ngIf="displayAccountName">
      <div class="label">{{ accountTitle }}</div>
      <div class="content"> {{ isSmartrise ? (job?.customerName | value) : (job?.primaryCustomer | value) }}</div>
    </div>

    <div class="displayData">
      <div class="label">Installation By</div>
      <div class="content"> {{ job?.installedBy | value }}</div>
    </div>

    <div class="displayData">
      <div class="label">Currently Maintained By</div>
      <div class="content"> {{ job?.maintainedBy | value }}</div>
    </div>

    <div class="displayData">
      <div class="label">Job Name</div>
      <div class="content">{{ job?.jobName | value }}</div>
    </div>

    <div class="displayData">
      <div class="label">Job Number</div>
      <div class="content">{{ job?.jobNumber | value }}</div>
    </div>

    <div class="displayData">
      <div class="label">PO Number</div>
      <div class="content">{{ job?.customerPONumber | value }}</div>
    </div>

    <div class="displayData">
      <div class="label">Desired Ship Date</div>
      <div class="content">{{ job?.shipDate | usdate | value }}</div>
    </div>

  </div>

  <div class="card-details-container">

    <div class="displayData">
      <div class="label">Tentative Ship Date</div>
      <div class="content">{{ job?.grantedShipDate | usdate | value }}</div>
    </div>

    <div class="displayData">
      <div class="label">Actual Ship Date</div>
      <div class="content">{{ job?.actualShipDate | usdate | value }}</div>
    </div>

    <div class="displayData">
      <div class="label">Engineering Completed</div>
      <div class="content">{{ job?.engineeringCompleted | usdate | value }}</div>
    </div>

    <div class="displayData">
      <div class="label">Testing Completed</div>
      <div class="content">{{ job?.testingCompleted | usdate | value }}</div>
    </div>

    <div class="displayData">
      <div class="label">Status</div>
      <div class="content">{{ job?.status | value }}</div>
    </div>

    <div class="displayData">
      <div class="label">Ship To Address</div>
      <div class="content">{{ job?.shipToAddress | value }}</div>
    </div>
  </div>
</div>

<div *ngIf="!isSmartrise" class="card-details">

  <div class="card-details-container">

    <div class="displayData" *ngIf="displayAccountName">
      <div class="label">{{ accountTitle }}</div>
      <div class="content"> {{ isSmartrise ? (job?.customerName | value) : (job?.primaryCustomer | value) }}</div>
    </div>

    <div class="displayData">
      <div class="label">Job Name</div>
      <div class="content">{{ job?.jobName | value }}</div>
    </div>

    <div class="displayData">
      <div class="label">Job Number</div>
      <div class="content">{{ job?.jobNumber | value }}</div>
    </div>

    <div class="displayData">
      <div class="label">PO Number</div>
      <div class="content">{{ job?.customerPONumber | value }}</div>
    </div>

    <div class="displayData">
      <div class="label">Desired Ship Date</div>
      <div class="content">{{ job?.shipDate | usdate | value }}</div>
    </div>

    <div class="displayData">
      <div class="label">Tentative Ship Date</div>
      <div class="content">{{ job?.grantedShipDate | usdate | value }}</div>
    </div>

  </div>

  <div class="card-details-container">


    <div class="displayData">
      <div class="label">Actual Ship Date</div>
      <div class="content">{{ job?.actualShipDate | usdate | value }}</div>
    </div>

    <div class="displayData">
      <div class="label">Engineering Completed</div>
      <div class="content">{{ job?.engineeringCompleted | usdate | value }}</div>
    </div>

    <div class="displayData">
      <div class="label">Testing Completed</div>
      <div class="content">{{ job?.testingCompleted | usdate | value }}</div>
    </div>

    <div class="displayData">
      <div class="label">Status</div>
      <div class="content">{{ job?.status | value }}</div>
    </div>

    <div class="displayData">
      <div class="label">Ship To Address</div>
      <div class="content">{{ job?.shipToAddress | value }}</div>
    </div>

  </div>
</div>
