<div class="row">
  <div class="col-lg-6">

    <div *ngIf="displayAccountName" class="form-group row">
      <label class="px-lg-0 col-lg-4 col-form-label text-left text-lg-right">Account Name</label>
      <div class="col-12 col-lg-8">
        <input readonly type="text" class="form-control-plaintext" id="last4" value="{{ job?.customerName | value }}">
      </div>
    </div>

    <div class="form-group row">
      <label class="px-lg-0 col-lg-4 col-form-label text-left text-lg-right">Job Name</label>
      <div class="col-12 col-lg-8">
        <input readonly type="text" class="form-control-plaintext" id="last4" value="{{ job?.jobName | value }}">
      </div>
    </div>

    <div class="form-group row">
      <label class="px-lg-0 col-lg-4 col-form-label text-left text-lg-right">Job Number</label>
      <div class="col-12 col-lg-8">
        <input readonly type="text" class="form-control-plaintext" value="{{ job?.jobNumber | value }}">
      </div>
    </div>

    <div class="form-group row">
      <label class="px-lg-0 col-lg-4 col-form-label text-left text-lg-right">PO Number</label>
      <div class="col-12 col-lg-8">
        <input readonly type="text" class="form-control-plaintext" value="{{ job?.customerPONumber | value }}">
      </div>
    </div>

  </div>

  <div class="col-lg-6">

    <div class="form-group row">
      <label class="px-lg-0 col-lg-4 col-form-label text-left text-lg-right">Desired Ship Date</label>
      <div class="col-12 col-lg-8">
        <input readonly type="text" class="form-control-plaintext" value="{{ job?.shipDate | usdate | value }}">
      </div>
    </div>

    <div class="form-group row">
      <label class="px-lg-0 col-lg-4 col-form-label text-left text-lg-right">Tentative Ship Date</label>
      <div class="col-12 col-lg-8">
        <input readonly type="text" class="form-control-plaintext" value="{{ job?.grantedShipDate | usdate | value }}">
      </div>
    </div>

    <div class="form-group row">
      <label class="px-lg-0 col-lg-4 col-form-label text-left text-lg-right">Actual Ship Date</label>
      <div class="col-12 col-lg-8">
        <input readonly type="text" class="form-control-plaintext" value="{{ job?.actualShipDate | usdate | value }}">
      </div>
    </div>

    <div *ngIf="passcode" class="form-group row">
      <label class="px-lg-0 col-lg-4 col-form-label text-left text-lg-right">Passcode</label>
      <div class="col-12 col-lg-8">
        <div [innerHTML]="passcode" class="form-control-plaintext">
        </div>
      </div>
    </div>

  </div>
</div>