.amount-overdue-30-cell {
    background-color: #dc3545;
}

.amount-overdue-60-cell {
    background-color: #dc3545;
}

.amount-overdue-90-cell {
    background-color: #dc3545;
}

.amount-overdue-120-cell {
    background-color: #dc3545;
}

.amount-current-cell {
    background-color: #0088cc;
}

.amount-paid-cell {
    background-color: green;
}

.badge-pill {
    font-weight: normal;
}

.value > div {
    display: inline-block;
}