
<div class="page-header-container">
  <div class="page-header-title">Jobs & Tracking</div>
  <div class="form-container mx-w-400" style="width: 40%;" *ngIf="!isSmall">
    <div class="input-container">
      <div class="input-item">
        <input type="text" placeholder="Search">
      </div> 
    </div>
    
  </div>
  <div *ngIf="isSmall">
    <button type="button" class="main-button" (click)="toggleFilters()">
      <i class="fas fa-filter"></i>
    </button>
  </div>
</div>
<div class="page-tab">
  <div class="page-tab-item active" (click)="goToJobs()">jobs</div>
  <div class="page-tab-item" (click)="goToShipments()">shipments</div>
  <div class="page-tab-item last" (click)="goToJobsFile()">jobs file</div>
</div>
<div class="table-container">
  <nb-card joyrideStep="jobFirstStep" stepPosition="center" [title]="runGuidingTour === true ? 'Jobs' : null"
    [doneTemplate]="doneButton" [stepContent]="firstCustomContent" (done)="onFinishingTour()">

    <ng-template #firstCustomContent>
      <div class='joyride-custom-content'>
        <div style="margin-bottom: 5px;">
          View a list of jobs associated with your account.<br />
          Please contact your Sales Representative or <a href="mailto:support@smartrise.us">support@smartrise.us</a> if
          you are unable to locate a job.
        </div>
        <div>
          <i class="fas fa-eye guiding-tour-action"></i>View Job Details
        </div>
        <div *ngIf="canFillPasscode">
          <i class="fas fa-key guiding-tour-action"></i>Fill Passcode
        </div>
      </div>
    </ng-template>

    <!-- <nb-card-header class="default-card-header">
      <h2 class="card-title">Jobs</h2>
    </nb-card-header> -->

    <nb-card-body>

      <ng-template [ngIf]="isSmall === false">
        <div class="table-header">
          <div>
            <!-- <button (click)="onReset()" class="main-button">
              <i class="fas fa-redo-alt"></i>
              Reset Filters
            </button> -->
          </div>
          <div>
            <button (click)="onReset()" class="main-button">
              <i class="fas fa-redo-alt"></i>
              Reset Filters
            </button>
          </div>
          <!-- <div class="table-record">
            <ngx-smr-records-per-page [recordsNumber]="recordsNumber" (changed)="onRecordsNumberChanged($event)">
            </ngx-smr-records-per-page>
          </div> -->
        </div>
      </ng-template>
      <div class="table-content">
        <ngx-smr-mobile-filters *ngIf="isSmall && showFilters" (close)="toggleFilters()">
          <div class="form-container" filters>
            <div class="input-container">
              <div *ngIf="settings?.columns?.customerName" class="input-item">
                <input type="text" maxlength="255" placeholder="Account" class="form-control"
                  [(ngModel)]="customerName" />
              </div>
              <div class="input-item">
                <input type="text" maxlength="255" placeholder="Job Name" class="form-control" [(ngModel)]="jobName" />
              </div>
              <div class="input-item">
                <input type="text" maxlength="255" placeholder="Job Number" class="form-control"
                  [(ngModel)]="jobNumber" />
              </div>
              <div class="input-item">
                <input type="text" maxlength="255" placeholder="PO Number" class="form-control"
                  [(ngModel)]="customerPONumber" />
              </div>
              <div class="input-item">
                <ngx-cp-datepicker class="form-group" memberName="Desired Ship Date"
                  displayPlaceholder="Desired Ship Date" [(selectedDate)]="shipDate"></ngx-cp-datepicker>
              </div>
              <div class="input-item">
                <ngx-cp-datepicker class="form-group" memberName="Tentative Ship Date"
                  displayPlaceholder="Tentative Ship Date" [(selectedDate)]="grantedShipDate"></ngx-cp-datepicker>
              </div>
              <div class="input-item">
                <ngx-cp-datepicker class="form-group" memberName="Actual Ship Date"
                  displayPlaceholder="Actual Ship Date" [(selectedDate)]="actualShipDate"></ngx-cp-datepicker>
              </div>
              <div class="input-item">
                <nb-select [(ngModel)]="epicorWaitingInfo">
                  <nb-option value="">Waiting on Info</nb-option>
                  <nb-option *ngFor="let option of yesNoList" [value]="option.value">
                    {{ option.title }}
                  </nb-option>
                </nb-select>
              </div>
              <div class="w-100">
                <ngx-smr-records-per-page [recordsNumber]="recordsNumber" (changed)="onRecordsNumberChanged($event)">
                </ngx-smr-records-per-page>
              </div>
            </div>
            <!-- <ngx-cp-checkbox class="ml-2" [(checkStatus)]="epicorWaitingInfo"></ngx-cp-checkbox> -->

            <div actions class="form-action">
              <button class="main-button" (click)="onSearch(); toggleFilters()">
                <i class="fas fa-search"></i>
                Search
              </button>
              <button (click)="onReset(); toggleFilters()" class="main-button">
                <i class="fas fa-redo-alt"></i>
                Reset Filters
              </button>
            </div>
          </div>
        </ngx-smr-mobile-filters>
      </div>

      <div class="row" [nbSpinner]="isLoading" nbSpinnerStatus="primary" nbSpinnerSize="giant">
        <div class="table-content" *ngIf="source">
          <ng2-smart-table [settings]="settings" [source]="source">
          </ng2-smart-table>
        </div>
      </div>
    </nb-card-body>

  </nb-card>
</div>

<ng-template #doneButton>
  <button>
    <i class="clear-icon fas fa-check"></i>
    OK
  </button>
</ng-template>