nb-accordion-item-header {
    position: relative;
    background-color: #f6f6f6;
}

.actions-bar {
    width: 100%;
}

.severity-critical {
    background-color: red;
}

.severity-high {
    background-color: #ed7d31;
}

.severity-medium {
    background-color: #ffc000;
}

.severity-low {
    background-color: #00b0f0;
}