<div class="main-card" style="height: 100%;">
    <div class="card-container">
        <nb-card size="xlarge" class="card-container-data pb-1 mb-3">
            <nb-card-header class="default-card-header has-action">
                <h2 class="card-title">
                    Favorite Accounts
                </h2>
            </nb-card-header>
            <nb-card-body class="card-body y-scrollable">
                <div *ngIf="this.data">
                    <nb-list>
                        <nb-list-item class="list-item" *ngFor="let customer of data">
                            <ngx-customer-list-item [customer]="customer"></ngx-customer-list-item>
                        </nb-list-item>
                    </nb-list>
                </div>
                <div class="no-data-container" *ngIf="!isLoading && !this.data">
                    No Accounts added to the Favorite list
                </div>
            </nb-card-body>

        </nb-card>
    </div>
</div>