<div class="page-header-container">
    <div class="page-header-title">Account Users</div>
    <div class="form-container" style="width: 25%;" *ngIf="!isSmall">
        <div class="input-container">
            <div class="input-item search-input-icon">
                <i class="fa fa-search"></i>
                <input type="text" placeholder="Search">
            </div>
        </div>

    </div>

    <div *ngIf="isSmall">
        <button class="main-button" type="button" (click)="toggleFilters()">
            <i class="fas fa-filter"></i>
        </button>
    </div>
</div>
<div class="actions-user-container">
    <div class="pagination-info">
        <div class="pagination-btn" (click)="onPagePrev()"> &lt; </div>
        {{ (source?.getPaging().page - 1) * settings?.pager?.perPage + 1 }}
        -
        {{
        Math.min(
        source.count(),
        (source?.getPaging().page - 1) * settings?.pager?.perPage +
        settings?.pager?.perPage
        )
        }}
        of {{ source ? source?.count() : null }}

        <div class="pagination-btn" (click)="onPageNext()"> &gt;</div>
    </div>
    <div class="avatar-btn-container">
        <div class="avatar-btn">
            <a>
                <button [disabled]="!canCreateAccountUser" (click)="onCreateUser()" class="main-button"
                    joyrideStep="accountUserSecondStep" stepPosition="left" [prevTemplate]="prevButton"
                    [nextTemplate]="nextButton" [doneTemplate]="doneButton"
                    [title]="runGuidingTour === true ? 'Users' : null" [stepContent]="secondCustomContent"
                    (done)="onFinishingTour()" tooltip="Create User">
                    <i class="fas fa-user-plus"></i>
                </button>
            </a>
        </div>
    </div>
    
</div>
<div class="table-container">
    <nb-card joyrideStep="accountUserFirstStep" stepPosition="center" [title]="runGuidingTour === true ? 'Users' : null"
        [stepContent]="firstCustomContent" (done)="onFinishingTour()" [nextTemplate]="nextButton">

        <nb-card-body>
            <ng-template [ngIf]="isSmall === false">
                <div class="table-header">
                    <div class="col d-flex align-items-center justify-content-start">

                    </div>
                    <div class="col-auto d-flex align-items-center justify-content-start">
                        <!-- <button (click)="onReset()" class="main-button">
                            <i class="fas fa-redo-alt"></i>
                            Reset Filters
                        </button> -->
                    </div>
                </div>
            </ng-template>
            <div class="table-content">
                <ngx-smr-mobile-filters *ngIf="isSmall && showFilters" (close)="toggleFilters()">
                    <div class="form-container" filters>
                        <div class="input-container">
                            <div class="input-item">
                                <input type="text" maxlength="255" placeholder="First Name" [(ngModel)]="firstName" />
                            </div>
                            <div class="input-item">
                                <input type="text" maxlength="255" placeholder="Last Name" [(ngModel)]="lastName" />
                            </div>
                            <div class="input-item">
                                <input type="email" maxlength="255" placeholder="Email" [(ngModel)]="email" />
                            </div>
                            <!-- <div class="input-item">
                                <ngx-smr-records-per-page [recordsNumber]="recordsNumber"
                                    (changed)="onRecordsNumberChanged($event)">
                                </ngx-smr-records-per-page>
                            </div> -->
                        </div>
                    </div>
                    <div class="form-action" actions>
                        <button class="main-button" (click)="onSearch(); toggleFilters()">
                            <i class="fas fa-search"></i>
                            Search
                        </button>
                        <!-- <button (click)="onReset(); toggleFilters()" class="main-button">
                            <i class="fas fa-redo-alt"></i>
                            Reset Filters
                        </button> -->
                    </div>
                </ngx-smr-mobile-filters>
            </div>
            <div class="row" [nbSpinner]="isLoading" nbSpinnerStatus="primary" nbSpinnerSize="giant">
                <div class="table-content" *ngIf="source">
                    <ng2-smart-table #table [settings]="settings" [source]="source">
                    </ng2-smart-table>
                </div>
            </div>
        </nb-card-body>
    </nb-card>
</div>

<ng-template #firstCustomContent>
    <div class='joyride-custom-content'>
        <div style="margin-bottom: 5px;">
            Manage Account users.
        </div>
        <div>
            <i class="fas fa-pencil-alt guiding-tour-action"></i>Update Account Roles
        </div>
        <div>
            <i class="fas fa-sign-in-alt guiding-tour-action"></i>Login As User
        </div>
        <div>
            <i class="fas fa-share guiding-tour-action"></i>Resend Invitation
        </div>
        <div>
            <i class="fas fa-recycle guiding-tour-action"></i>Send Password Reset Request
        </div>
        <div>
            <i class="fas fa-user-minus guiding-tour-action"></i>Reactivate User
        </div>
        <div>
            <i class="fas fa-user-check guiding-tour-action"></i>Deactivate User
        </div>
    </div>
</ng-template>

<ng-template #secondCustomContent>
    <div class='joyride-custom-content'>
        <div style="margin-bottom: 5px;">
            Create a new user.
        </div>
    </div>
</ng-template>

<ng-template #prevButton>
    <button class="btn btn-primary">
        <i class="fas fa-step-backward"></i>
        Prev
    </button>
</ng-template>

<ng-template #nextButton>
    <button class="btn btn-primary">
        Next
        <i class="fas fa-step-forward"></i>
    </button>
</ng-template>

<ng-template #doneButton>
    <button class="btn btn-primary">
        <i class="clear-icon fas fa-check"></i>
        OK
    </button>
</ng-template>