<nb-card>
    <nb-card-header class="default-card-header d-flex align-items-center justify-content-between">
        <div class="col-md">
            <h2 class="card-title">Notification Logs</h2>
        </div>
        <div class="col-md">
            <div class="card-actions">
                <div tooltip="View Notification Settings">
                    <button (click)="onBackToNotificationSettings()" class="btn btn-primary mr-1">
                        <i class="fas fa-sliders-h"></i>
                        View Settings
                    </button>
                </div>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <ng-template [ngIf]="isSmall === false">
            <div class="row mb-3">
                <div class="col d-flex align-items-center justify-content-start">
                    <button (click)="onReset()" class="btn btn-primary">
                        <i class="fas fa-redo-alt"></i>
                        Reset Filters
                    </button>
                </div>
                <div class="col-auto d-flex align-items-center justify-content-start">
                    <ngx-smr-records-per-page [recordsNumber]="recordsNumber" (changed)="onRecordsNumberChanged($event)">
                    </ngx-smr-records-per-page>
                </div>
            </div>
        </ng-template>

        <ngx-smr-mobile-filters *ngIf="isSmall && showFilters" (close)="toggleFilters()">
            <div filters>
                <div *ngIf="isSmartriseUser" class="filter-control">
                    <input type="text" maxlength="255" placeholder="Reciepients" class="form-control"
                        [(ngModel)]="reciepients" />
                </div>
                <div class="filter-control">
                    <nb-select [(ngModel)]="notificationMethod" class="form-control form-control-select">
                        <nb-option value="">Status</nb-option>
                        <nb-option *ngFor="let c of notificationMethods" [value]="c.value">
                            {{ c.title }}
                        </nb-option>
                    </nb-select>
                </div>
                <div class="filter-control">
                    <nb-select [(ngModel)]="severity" class="form-control form-control-select">
                        <nb-option value="">Status</nb-option>
                        <nb-option *ngFor="let c of severities" [value]="c.value">
                            {{ c.title }}
                        </nb-option>
                    </nb-select>
                </div>
                <div class="filter-control">
                    <nb-select [(ngModel)]="alertType" class="form-control form-control-select">
                        <nb-option value="">Alert Type</nb-option>
                        <nb-option *ngFor="let c of alertTypes" [value]="c.value">
                            {{ c.title }}
                        </nb-option>
                    </nb-select>
                </div>
                <div class="filter-control">
                    <input type="text" maxlength="255" placeholder="Alert" class="form-control" [(ngModel)]="alert" />
                </div>
                <div class="filter-control">
                    <input type="date" maxlength="255" placeholder="Date/Time" class="form-control"
                        [(ngModel)]="sentTime" />
                </div>

                <div class="filter-control">
                    <ngx-smr-records-per-page [recordsNumber]="recordsNumber" (changed)="onRecordsNumberChanged($event)">
                    </ngx-smr-records-per-page>
                </div>
            </div>
            <div actions>
                <button class="btn btn-block btn-primary" (click)="onSearch(); toggleFilters()">
                    <i class="fas fa-search"></i>
                    Search
                </button>
                <button (click)="onReset(); toggleFilters()" class="btn btn-block btn-primary my-2">
                    <i class="fas fa-redo-alt"></i>
                    Reset Filters
                </button>
            </div>
        </ngx-smr-mobile-filters>

        <div class="row">
            <div class="col-12 d-flex justify-content-end" *ngIf="isSmall">
                <button type="button" class="btn btn-primary" (click)="toggleFilters()">
                    <i class="fas fa-filter"></i>
                </button>
            </div>
            <div class="col-lg-12" *ngIf="source">
                <ng2-smart-table class="default-smart-table responsive-design1" [settings]="settings" [source]="source">
                </ng2-smart-table>
            </div>
        </div>
    </nb-card-body>
</nb-card>