<div class="page-header-container">
    <div class="page-header-title">Statement Of Account</div>
</div>
<div class="avatar-btn-container">
    <div class="avatar-btn">
        <a>
            <button [disabled]="!canCreateAlertSetting" (click)="onCreateAlertSetting()" tooltip="Create Alert Settings"
                class="main-button">
                <i class="fas fa-plus"></i>
            </button>
        </a>
    </div>
</div>
<div class="table-container">
    <nb-card>
        <nb-card-body>
            <div class="table-content">
                <ngx-smr-mobile-filters *ngIf="isSmall && showFilters" (close)="toggleFilters()">
                    <div class="form-container" filters>
                        <div class="input-container">
                            <div *ngIf="isSmartriseUser" class="input-item">
                                <input type="text" maxlength="255" placeholder="Name"
                                    [(ngModel)]="name" />
                            </div>
                            <div class="input-item">
                                <nb-select [(ngModel)]="severity">
                                    <nb-option value="">Severity</nb-option>
                                    <nb-option *ngFor="let c of severities" [value]="c.value">
                                        {{ c.title }}
                                    </nb-option>
                                </nb-select>
                            </div>
                            <div class="input-item">
                                <input type="text" maxlength="255" placeholder="Alert Type"
                                    [(ngModel)]="type" />
                            </div>
                            <div class="input-item">
                                <input type="date" placeholder="Created Date"
                                    [(ngModel)]="createdDate" />
                            </div>
                            <div class="input-item">
                                <input type="date" placeholder="Modified Date"
                                    [(ngModel)]="modifiedDate" />
                            </div>
                            <div class="input-item">
                                <input type="number" placeholder="Total Alerts"
                                    [(ngModel)]="totalAlerts" />
                            </div>

                            <div class="input-item">
                                <!-- <ngx-smr-records-per-page [recordsNumber]="recordsNumber" (changed)="onRecordsNumberChanged($event)">
                            </ngx-smr-records-per-page> -->
                            </div>
                        </div>
                    </div>
                    <div actions class="form-action">
                        <button class="main-button"  (click)="onSearch(); toggleFilters()">
                            <i class="fas fa-search"></i>
                            Search
                        </button>
                        <!-- <button (click)="onReset(); toggleFilters()" class="btn btn-block btn-primary my-2">
                            <i class="fas fa-redo-alt"></i>
                            Reset Filters
                        </button> -->
                    </div>
                </ngx-smr-mobile-filters>
            </div>


            <div class="row">
                <div class="col-12 d-flex justify-content-end" *ngIf="isSmall">
                    <button type="button" class="btn btn-primary" (click)="toggleFilters()">
                        <i class="fas fa-filter"></i>
                    </button>
                </div>
                <div class="table-content" *ngIf="source">
                    <ng2-smart-table [settings]="settings" [source]="source">
                    </ng2-smart-table>
                </div>
            </div>
        </nb-card-body>
    </nb-card>
</div>