<div class="row">
  <div class="col-12 col-md-12 mb-1 custom-card">
    <ngx-index-cards></ngx-index-cards>
  </div>
  <div class="col-12 col-md-6 mb-1">
    <ngx-alerts-versus-time-line-chart></ngx-alerts-versus-time-line-chart>
  </div>
  <div class="col-12 col-md-6 map mb-1">
    <ngx-usa-jobs-map></ngx-usa-jobs-map>
  </div>
  <div class="col-12 col-md-12 alerts-top-n mb-1">
    <ngx-last-active-alerts></ngx-last-active-alerts>
  </div>
  <div class="col-12 col-md-6 alerts-per-parttype-pie-charts mb-1">
    <ngx-alerts-per-parttype-pie-chart></ngx-alerts-per-parttype-pie-chart>
  </div>
</div>