<div class="table-container mt-0">

  <nb-card joyrideStep="customerUsersFirstStep" stepPosition="center" [title]="runGuidingTour === true ? 'Users' : null"
    [stepContent]="customerUsersCustomContent" [doneTemplate]="doneButton" (done)="onFinishingTour()">

    <nb-card-body>
      <div class="table-content">

        <ngx-smr-mobile-filters *ngIf="isSmall && showFilters" (close)="toggleFilters()">
          <div filters class="form-container">
            <div class="input-container">
              <div class="input-item">
                <input type="text" maxlength="255" placeholder="First Name" [(ngModel)]="firstName" />
              </div>
              <div class="input-item">
                <input type="text" maxlength="255" placeholder="Last Name" [(ngModel)]="lastName" />
              </div>
              <div class="input-item">
                <input type="email" maxlength="255" placeholder="Email" [(ngModel)]="email" />
              </div>
              <div class="input-item">
                <!-- <ngx-smr-records-per-page [recordsNumber]="recordsNumber" (changed)="onRecordsNumberChanged($event)">
            </ngx-smr-records-per-page> -->
              </div>
            </div>
          </div>
          <div actions class="form-action">
            <button class="main-button" (click)="onSearch(); toggleFilters()">
              <i class="fas fa-search"></i>
              Search
            </button>
            <!-- <button (click)="onReset(); toggleFilters()" class="btn btn-block btn-primary my-2">
            <i class="fas fa-redo-alt"></i>
            Reset Filters
          </button> -->
          </div>
        </ngx-smr-mobile-filters>


        <div class="row" [nbSpinner]="isLoading" nbSpinnerStatus="primary" nbSpinnerSize="giant">
          <div class="col-12 d-flex justify-content-end" *ngIf="isSmall">
            <button type="button" class="btn btn-primary" (click)="toggleFilters()">
              <i class="fas fa-filter"></i>
            </button>
          </div>
          <div class="table-content" *ngIf=" source">
            <ng2-smart-table class="responsive-design1" #table [settings]="settings" [source]="source">
            </ng2-smart-table>
          </div>
        </div>
      </div>

    </nb-card-body>
  </nb-card>
</div>
<ng-template #customerUsersCustomContent>
  <div class='joyride-custom-content'>
    <div style="margin-bottom: 5px;">
      Manage Account users.
    </div>
    <div>
      <i class="fas fa-pencil-alt guiding-tour-action"></i>Update User Information
    </div>
    <div>
      <i class="fas fa-share guiding-tour-action"></i>Resend Invitation
    </div>
    <div>
      <i class="fas fa-recycle guiding-tour-action"></i>Send Password Reset Request
    </div>
  </div>
</ng-template>

<ng-template #prevButton>
  <button class="main-button">
    <i class="fas fa-step-backward"></i>
    Prev
  </button>
</ng-template>

<ng-template #nextButton>
  <button class="main-button">
    Next
    <i class="fas fa-step-forward"></i>
  </button>
</ng-template>

<ng-template #doneButton>
  <button class="main-button">
    <i class="clear-icon fas fa-check"></i>
    OK
  </button>
</ng-template>