<div class="d-flex">
    <input [nbDatepicker]="datepicker" 
        [(ngModel)]="item[valueField]" 
        (focus)="onDateFocus($event)" 
        type="text" 
        [placeholder]="fieldLabel"
        [ngClass]="{'quote-input form-control input-style': true,'error': hasErrors}" 
        #field="ngModel" #i
        (keydown)="dateKeyPress($event)" 
        [disabled]="disabled" 
        trimError="!allowSpace"
        />
    <nb-datepicker (dateChange)="onDateChanged($event)" #datepicker [format]="'MM/dd/yyyy'"></nb-datepicker>
    <nb-toggle [(ngModel)]="item[assumeField]" tooltip="Assume Value" *ngIf="showAssume" (checkedChange)="onAssumeChange($event)">
    </nb-toggle>
    <i class="privileges-icon fas fa-info-circle" *ngIf="infoText" [tooltip]="infoText"></i>
</div>

<div *ngIf="isInlineErrors">
    <div *ngIf="field.invalid">

        <div class="error" *ngIf="field?.errors && field?.errors['requiredWithTrim']">
            {{requiredMessage}}
        </div>

        <div class="error" *ngIf="field?.errors && field?.errors['trimError']">
            {{trimErrorMessage}}
        </div>
    </div>
    <div *ngIf="(errors && errors.length > 0)">
        <div class="error" *ngFor="let error of errors">
            {{ error }}
        </div>
    </div>
</div>