<div class="table-container">
    <div class="page-header-container">
        <div class="page-header-title">{{ jobName ? 'Parts Review' : 'My Jobs Parts Review' }}</div>
    </div>
    <nb-card class="in-dialog">
        <nb-card-body>

            <div class="row card-body" *ngIf="jobName">

                <div class="col-lg-2 label-max-width" *ngIf="jobName">
                    <label class="control-label mt-2">Job Name</label>
                </div>
                <div class="col-lg-3 form-control-plaintext" *ngIf="jobName">
                    {{ jobName }}
                </div>
                <div class="col-lg-2" *ngIf="jobName"></div>
                <div class="col-lg-2 label-max-width" *ngIf="jobName">
                    <label class="control-label mt-2">Job Number</label>
                </div>
                <div class="col-lg-3 form-control-plaintext" *ngIf="jobName">
                    {{ jobNumber }}
                </div>

            </div>
            <div class="table-content">
                <ngx-smr-mobile-filters *ngIf="isSmall && showFilters" (close)="toggleFilters()">
                    <div class="form-container" filters>
                        <div class="input-container">
                            <div class="input-item">
                                <input type="text" maxlength="255" placeholder="Job Number" [(ngModel)]="pJobNumber" />
                            </div>
                            <div class="input-item">
                                <input type="text" maxlength="255" placeholder="Job Name" [(ngModel)]="pJobName" />
                            </div>
                            <div class="input-item">
                                <input type="text" maxlength="255" placeholder="Group" [(ngModel)]="group" />
                            </div>
                            <div class="input-item">
                                <input type="text" maxlength="255" placeholder="Car" [(ngModel)]="car" />
                            </div>
                            <div class="input-item">
                                <nb-select [(ngModel)]="part">
                                    <nb-option value="">Part</nb-option>
                                    <nb-option *ngFor="let c of pParts" [value]="c.value">
                                        {{ c.title }}
                                    </nb-option>
                                </nb-select>
                            </div>
                            <div class="input-item">
                                <input type="text" maxlength="255" placeholder="Part Type" [(ngModel)]="partType" />
                            </div>
                            <div class="input-item">
                                <input type="text" maxlength="255" placeholder="Alerts Count"
                                    [(ngModel)]="alertsCount" />
                            </div>
                            <div class="input-item">
                                <nb-select [(ngModel)]="status">
                                    <nb-option value="">Status</nb-option>
                                    <nb-option *ngFor="let c of statuses" [value]="c.value">
                                        {{ c.title }}
                                    </nb-option>
                                </nb-select>
                            </div>

                            <div class="filter-control">
                                <!-- <ngx-smr-records-per-page [recordsNumber]="recordsNumber" (changed)="onRecordsNumberChanged($event)">
                    </ngx-smr-records-per-page> -->
                            </div>
                        </div>
                    </div>
                    <div actions class="form-action">
                        <button class="main-button" (click)="onSearch(); toggleFilters()">
                            <i class="fas fa-search"></i>
                            Search
                        </button>
                        <!-- <button (click)="onReset(); toggleFilters()" class="btn btn-block btn-primary my-2">
                    <i class="fas fa-redo-alt"></i>
                    Reset Filters
                </button> -->
                    </div>
                </ngx-smr-mobile-filters>
            </div>
            <div class="table-content">
                <ng2-smart-table class="responsive-design1" [settings]="settings" [source]="source">
                </ng2-smart-table>
            </div>

        </nb-card-body>
    </nb-card>
</div>