<nb-card joyrideStep="resourceFirstStep" stepPosition="center" [title]="runGuidingTour === true ? 'Job Files' : null"
    [stepContent]="firstCustomContent" [doneTemplate]="doneButton" (done)="onFinishingTour()">

    <ng-template #firstCustomContent>
        <div class='joyride-custom-content'>
            <div *ngIf="!canGenerateFile && !canManageFiles" style="margin-bottom: 5px;">
                View and download job documents and software.
            </div>
            <div *ngIf="!canManageFiles && canGenerateFile" style="margin-bottom: 5px;">
                View, request and download job documents and software.
            </div>
            <div *ngIf="canManageFiles" style="margin-bottom: 5px;">
                View, manage, request and download job documents and software.
            </div>
            <div>
                <i class="fas fa-eye guiding-tour-action"></i>View Job File Details
            </div>
            <div *ngIf="canGenerateFile">
                <i class="fas fa-plus-circle guiding-tour-action"></i>Generate Request to Download Job File
            </div>
            <div>
                <i class="fas fa-download guiding-tour-action"></i>Download Job File
            </div>
            <div *ngIf="canManageFiles">
                <i class="fas fa-upload guiding-tour-action"></i>Upload or Change Job File
            </div>
            <div *ngIf="canManageFiles">
                <i class="fas fa-trash guiding-tour-action"></i>Delete Job File
            </div>
        </div>
    </ng-template>

    <nb-card-header class="default-card-header">
        <h2 class="card-title">Job Files</h2>
        <div *ngIf="res$ | async as res">
            {{res.newResource.status}}
        </div>
    </nb-card-header>
    <nb-card-body>
        <ng-template [ngIf]="isSmall === false">
            <div class="row mb-3">
                <div class="col d-flex align-items-center justify-content-start">
                    <button (click)="onReset()" class="btn btn-primary">
                        <i class="fas fa-redo-alt"></i>
                        Reset Filters
                    </button>
                    <!-- we hide it for the time being sine Smartrise users can use the Status column -->
                    <div class="ml-3" *ngIf="false">
                        <ngx-cp-checkbox [label]="'Has Uploaded File'"
                            (checkStatusChange)="onHasUploadedFileChecked($event)"
                            [(checkStatus)]="this.hasUploadedFile" [disable]="isLoading" class="pr-2">
                        </ngx-cp-checkbox>
                    </div>
                </div>
                <div class="col-auto d-flex align-items-center justify-content-start">
                    <ngx-smr-records-per-page [recordsNumber]="recordsNumber" (changed)="onRecordsNumberChanged($event)">
                    </ngx-smr-records-per-page>
                </div>
            </div>
        </ng-template>

        <ngx-smr-mobile-filters *ngIf="isSmall && showFilters" (close)="toggleFilters()">
            <div filters>

                <div *ngIf="settings?.columns?.customerName" class="filter-control">
                    <input type="text" maxlength="255" placeholder="Account" class="form-control"
                        [(ngModel)]="customerName" />
                </div>
                <div class="filter-control">
                    <input type="text" maxlength="255" placeholder="Job Name" class="form-control"
                        [(ngModel)]="jobName" />
                </div>
                <div class="filter-control">
                    <input type="text" maxlength="255" placeholder="Job Number" class="form-control"
                        [(ngModel)]="jobNumber" />
                </div>
                <div class="filter-control">
                    <nb-select [(ngModel)]="resourceType" class="form-control form-control-select">
                        <nb-option value="">File Type</nb-option>
                        <nb-option *ngFor="let c of resourceTypes" [value]="c.value">
                            {{ c.description }}
                        </nb-option>
                    </nb-select>
                </div>
                <!-- <div class="filter-control" *ngIf="isSmartriseUser">
                    <input type="text" maxlength="255" placeholder="File Description" class="form-control" [(ngModel)]="fileDescription" />
                </div> -->
                <!-- <div class="filter-control" *ngIf="isSmartriseUser">
                    <input type="text" maxlength="255" placeholder="Message" class="form-control" [(ngModel)]="message" />
                </div> -->
                <div class="filter-control" *ngIf="isSmartriseUser">
                    <nb-select [(ngModel)]="status" class="form-control form-control-select">
                        <nb-option value="">Status</nb-option>
                        <nb-option *ngFor="let c of statuses" [value]="c.value">
                            {{ c.description }}
                        </nb-option>
                    </nb-select>
                </div>
                <!-- <div class="filter-control" *ngIf="isSmartriseUser">
                    <ngx-cp-checkbox [label]="'Has Uploaded File'" [(checkStatus)]="hasUploadedFile"
                        [disable]="isLoading" class="pr-2">
                    </ngx-cp-checkbox>
                </div> -->
                <div class="filter-control">
                    <ngx-smr-records-per-page [recordsNumber]="recordsNumber" (changed)="onRecordsNumberChanged($event)">
                    </ngx-smr-records-per-page>
                </div>
            </div>
            <div actions>
                <button class="btn btn-block btn-primary" (click)="onSearch(); toggleFilters()">
                    <i class="fas fa-search"></i>
                    Search
                </button>
                <button (click)="onReset(); toggleFilters()" class="btn btn-block btn-primary my-2">
                    <i class="fas fa-redo-alt"></i>
                    Reset Filters
                </button>
            </div>
        </ngx-smr-mobile-filters>

        <div class="row" [nbSpinner]="isLoading" nbSpinnerStatus="primary" nbSpinnerSize="giant">
            <div class="col-12 d-flex justify-content-end" *ngIf="isSmall">
                <button type="button" class="btn btn-primary" (click)="toggleFilters()">
                    <i class="fas fa-filter"></i>
                </button>
            </div>
            <div class="col-sm-12" *ngIf="source">
                <ng2-smart-table class="default-smart-table responsive-design1" [settings]="settings" [source]="source">
                </ng2-smart-table>
            </div>
        </div>
    </nb-card-body>
</nb-card>
<ng-template #doneButton>
    <button class="btn btn-primary">
        <i class="clear-icon fas fa-check"></i>
        OK
    </button>
</ng-template>