<div class="popup-container">

    <div class="popup-title">
        {{title}}
    </div>

    <div class="popup-content-section">
        <p>{{ message }}</p>
    </div>

    <div class="popup-footer">
        <button [disabled]="disableCancel" (click)="onCancel()" type="button"
            class="footer-btn btn btn-secondary mr-1 text-center">
            Cancel
        </button>
        <button [disabled]="disableExit" (click)="onExit()" type="button"
            class="footer-btn btn btn-primary mr-1 text-center">
            Exit
        </button>
    </div>

</div>