
@media (max-width: 992px) {
  .table-container {
    max-width: 40rem;
  }
}

@media (max-width: 768px) {
  .table-container {
    max-width: 30rem;
  }
}

@media (max-width: 576px) {
  .table-container {
    max-width: 20rem;
  }
}

thead tr th {
    background-color: rgb(27, 115, 187);
    color: white;
}

thead tr th:first-child {
    background-color: transparent;
    border-left: none;
    border-top: none;
}

tbody tr td:first-child {
    background-color: rgb(27, 115, 187);
    color: white;
}

th, td {
    border: 1px solid gray;
    border-collapse: collapse;
    text-align: center;
  }

  tfoot tr td {
    background-color: rgb(27, 115, 187);
    color: white;
  }

  tfoot tr td:first-child {
    background-color: transparent;
    color: white;
    border-left: none;
    border-bottom: none;
  }


  table {
    min-width: 43rem;
    font-size: .85rem;
 }

span {
    color: black;
    font-weight: bold;
    font-size: .85rem;
}
  ul {
    min-width: 15rem;
  }

  ul li {
      font-size: .85rem;
  }