<div class="page-header-container">
  <div class="page-header-title" *ngIf="companyinfo">
    <span (click)="onClose()" class="cursor"><i class="fa fa-arrow-left"></i>Accounts</span> / {{
    companyinfo?.name}}
  </div>
</div>

<div class="mb-3" [nbSpinner]="isLoading" nbSpinnerStatus="primary" nbSpinnerSize="giant">
  <nb-tabset *ngIf="companyinfo">
    <nb-tab tabTitle="Account Information">
      <nb-card size="xlarge">
        <nb-card-body>
          <div class="card-details">
            <div class="card-details-container">

              <div class="displayData">
                <label class="label">Name</label>
                <div class="content"> {{ companyinfo.name | value }}</div>
              </div>

              <div class="displayData">
                <label class="label">Phone</label>
                <div class="content"> {{ companyinfo.phone | value }}</div>
              </div>

              <div class="displayData">
                <label class="label">Fax</label>
                <div class="content"> {{ companyinfo.fax | value }}</div>
              </div>

              <div class="displayData">
                <label class="label">Primary Shipping Email</label>
                <div class="content"> {{ companyinfo.email | value }}</div>
              </div>


            </div>

            <div class="card-details-container">

              <div class="displayData">
                <label class="label">Street</label>
                <div class="content"> {{ companyinfo.fullAddress | value }}</div>
              </div>

              <div class="displayData">
                <label class="label">City</label>
                <div class="content"> {{ companyinfo.city | value }}</div>
              </div>

              <div class="displayData">
                <label class="label">State</label>
                <div class="content"> {{ companyinfo.state | value }}</div>
              </div>

              <div class="displayData">
                <label class="label">Zip Code</label>
                <div class="content"> {{ companyinfo.zip | value }}</div>
              </div>

              <div class="displayData">
                <label class="label">Country</label>
                <div class="content"> {{ companyinfo.country | value }}</div>
              </div>


            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </nb-tab>
    <nb-tab tabTitle="Sales Representative">
      <nb-card size="xlarge">
        <nb-card-body>
          <div class="card-details">
            <div class="card-details-container">

              <div class="displayData">
                <label class="label">Name</label>
                <div class="content"> {{ companyinfo.salesRepresentative?.name | value }}</div>
              </div>

              <div class="displayData">
                <label class="label">Role</label>
                <div class="content"> {{ companyinfo.salesRepresentative?.role | value }}</div>
              </div>

              <div class="displayData">
                <label class="label">Business</label>
                <div class="content">{{ companyinfo.salesRepresentative?.mobile | value }}</div>
              </div>


            </div>

            <div class="card-details-container">

              <div class="displayData">
                <label class="label">Mobile</label>
                <div class="content"> {{ companyinfo.salesRepresentative?.mobile | value }}</div>
              </div>

              <div class="displayData">
                <label class="label">Email</label>
                <div *ngIf="companyinfo?.salesRepresentative?.email" class="content">
                  <a href="{{ clickableEmail }}">
                    {{ companyinfo.salesRepresentative?.email }}
                  </a>
                </div>
                <div *ngIf="!companyinfo?.salesRepresentative?.email" class="content">
                  {{ companyinfo.salesRepresentative?.email | value }}
                </div>
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>

    </nb-tab>
  </nb-tabset>
</div>

<ng-template [ngIf]="isLoading">
  <nb-card [nbSpinner]="isLoading" nbSpinnerStatus="primary" nbSpinnerSize="giant">
    <div class="col-12 p-4">
    </div>
  </nb-card>
</ng-template>